/*
	PLAY PROJECT
	VERSION 0.1, 2010-06-28
	by HUBBUB - Simon Scheiber, Alper Çuğun, Kars Alfrink
*/

/* @group reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
input { vertical-align: middle; }
img { display: block; }
/* @end */

/* @group body */
body {
    font-family: Lucida Grande;
    font-size: 14px;
    line-height: 22px;
    
    color: #333333;
}
div {  }
/* @end */

/* @group grid */
/* container */
.container_12 { margin-left: auto; margin-right: auto; width: 960px; }

/* global */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { display: inline; float: left; position: relative; margin-left: 10px; margin-right: 10px; }

/* children (alpha ~ first, omega ~ last) */
.alpha { margin-left: 0; }
.omega { margin-right: 0; }

/* 12 columns grid */
.container_12 .grid_1 { width: 60px; }
.container_12 .grid_2 { width: 140px; }
.container_12 .grid_3 { width: 220px; }
.container_12 .grid_4 { width: 300px; }
.container_12 .grid_5 { width: 380px; }
.container_12 .grid_6 { width: 460px; }
.container_12 .grid_7 { width: 540px; }
.container_12 .grid_8 { width: 620px; }
.container_12 .grid_9 { width: 700px; }
.container_12 .grid_10 { width: 780px; }
.container_12 .grid_11 { width: 860px; }
.container_12 .grid_12 { width: 940px; }

/* prefix extra space  */
.container_12 .prefix_1 { padding-left: 80px; }
.container_12 .prefix_2 { padding-left: 160px; }
.container_12 .prefix_3 { padding-left: 240px; }
.container_12 .prefix_4 { padding-left: 320px; }
.container_12 .prefix_5 { padding-left: 400px; }
.container_12 .prefix_6 { padding-left: 480px; }
.container_12 .prefix_7 { padding-left: 560px; }
.container_12 .prefix_8 { padding-left: 640px; }
.container_12 .prefix_9 { padding-left: 720px; }
.container_12 .prefix_10 { padding-left: 800px; }
.container_12 .prefix_11 { padding-left: 880px; }

/* suffix extra space */
.container_12 .suffix_1 { padding-right: 80px; }
.container_12 .suffix_2 { padding-right: 160px; }
.container_12 .suffix_3 { padding-right: 240px; }
.container_12 .suffix_4 { padding-right: 320px; }
.container_12 .suffix_5 { padding-right: 400px; }
.container_12 .suffix_6 { padding-right: 480px; }
.container_12 .suffix_7 { padding-right: 560px; }
.container_12 .suffix_8 { padding-right: 640px; }
.container_12 .suffix_9 { padding-right: 720px; }
.container_12 .suffix_10 { padding-right: 800px; }
.container_12 .suffix_11 { padding-right: 880px; }

/* push space */
.container_12 .push_1 { left: 80px; }
.container_12 .push_2 { left: 160px; }
.container_12 .push_3 { left: 240px; }
.container_12 .push_4 { left: 320px; }
.container_12 .push_5 { left: 400px; }
.container_12 .push_6 { left: 480px; }
.container_12 .push_7 { left: 560px; }
.container_12 .push_8 { left: 640px; }
.container_12 .push_9 { left: 720px; }
.container_12 .push_10 { left: 800px; }
.container_12 .push_11 { left: 880px; }

/* pull space */
.container_12 .pull_1 { left: -80px; }
.container_12 .pull_2 { left: -160px; }
.container_12 .pull_3 { left: -240px; }
.container_12 .pull_4 { left: -320px; }
.container_12 .pull_5 { left: -400px; }
.container_12 .pull_6 { left: -480px; }
.container_12 .pull_7 { left: -560px; }
.container_12 .pull_8 { left: -640px; }
.container_12 .pull_9 { left: -720px; }
.container_12 .pull_10 { left: -800px; }
.container_12 .pull_11 { left: -880px; }

/* clear floated elements */
/* http://sonspring.com/journal/clearing-floats */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* @end */

/* @group typography */
p {  }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
/* @end */

/* @group headings */
h1, h2, h3, h4, h5, h6 { 
    font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", Arial;
    text-transform: uppercase;
    font-weight: 900;
}
h1 { 
    color: #f30;
    font-size: 40px;
    line-height: 44px;
}
h2 {
    color: #06c;
    font-size: 22px;
    line-height: 22px;
}
h3 {
    color: black;
    font-size: 16px;
    line-height: 22px;
}
h4 {
    color: #666;
    font-size: 14px;
    line-height: 18px;
}
h5 {  }
h6 {  }
/* @end */

/* @group links */
a {  }
a:link, a:visited, a:active {  }
a:focus {  }
a:hover {  }
/* @end */

/* @group layout */

/* @end */

/* @group piped links */
.piped { display: block; }
.piped:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.piped li { float: left; display: inline; }
.piped a { border-left: 1px solid #ddd; padding: 0 10px; }
.piped a.first { border-left: 0 !important; padding-left: 0; margin-left: 0 !important; }
/* @end */

/* @group lists */
ul {  }
ol {  }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
/* @end */

/* @group header */
/* @end */

/* @group footer */
/* @end */

/* @group home */
/* @end */

/* @group games */
/* @end */

/* @group events */
/* @end */

/* @group about */
/* @end */

/* @group contact */
/* @end */

/* @group extra pages */
/* @end */

@media print {
	body { background: white; font-size: 12px; line-height: 20px; }
	.header, .entry_nav, .footer { display: none; }
	a:link, a:visited { color: #666; background: transparent; font-weight: bold; text-decoration: underline; }
}