html {
	background: #ddd url(../image/grain_overlay.png) repeat;
}

body {
	font-family: Lucida Grande, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;

	color: #333;
	margin: 0;
	padding: 0;
}

/* @group headings */
h1, h2, h3, h4, h5, h6 { 
	font-family: "proxima-nova-1", "proxima-nova-2", Arial;
	text-transform: uppercase;
	font-weight: 900;
}
h1 { 
	color: #f30;
	font-size: 40px;
	line-height: 42px;
}
h2 {
	color: #06c;
	font-size: 22px;
	line-height: 21px;
}
h3 {
	color: black;
	font-size: 16px;
	line-height: 21px;
}
h4 {
	color: #666;
	font-size: 14px;
	line-height: 21px;
}
h5 {
	color: #f30;
	font-size: 14px;
	line-height: 21px;
}
p {
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 21px 0;
}

#content ul, ol {
	margin-left: 20px;
	margin-bottom: 21px;
}

#content ul li {
	list-style-type: disc;
}

#content ol li {
	list-style-type: decimal;
}

/* Code for a sliding door button. */

button.door {
    cursor: hand;
    color: white;

    border: none;

    background: transparent url(../image/button_right.png) no-repeat right top;
    
    padding: 0 10px 0 0;
    margin: 10.5px 0;
}

button.door:hover {
    background: transparent url(../image/button_right.png) no-repeat right center;
}

button.door:active {
    background: transparent url(../image/button_right.png) no-repeat right bottom;
}

button.door p.door {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 10px;
    background: transparent url(../image/button_left.png) no-repeat left top;
}

button.door:hover p.door {
    background: transparent url(../image/button_left.png) no-repeat left center;
}

button.door:active p.door {
    background: transparent url(../image/button_left.png) no-repeat left bottom;
}