body {
    font-family: Lucida Grande, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    
    color: #333333;
}

/* @group headings */
h1, h2, h3, h4, h5, h6 { 
    font-family: "proxima-nova-1", "proxima-nova-2", Arial;
    text-transform: uppercase;
    font-weight: 900;
    
    margin-bottom: 2em;
}
h1 { 
    color: #f30;
    font-size: 40px;
    line-height: 44px;
}
h2 {
    color: #06c;
    font-size: 22px;
    line-height: 22px;
}
h3 {
    color: black;
    font-size: 16px;
    line-height: 22px;
}
h4 {
    color: #666;
    font-size: 14px;
    line-height: 18px;
}
h5 {
    color: #f30;
    font-size: 14px;
    line-height: 18px;
}