.sc-player { 
	font: 12px Arial, sans-serif;
	color: #000;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1.6em;
}

.sc-player a { 
	text-decoration: none;
	color: #000;
}

/* @group scrubber */

.sc-scrubber { 
	
}

.sc-scrubber .sc-time-span { 
	height: 80px;
	background-color: #aaa;
}

.sc-scrubber .sc-time-span img { 
	height: 80px;
	position: relative;
	z-index:  3;
}

.sc-scrubber .sc-buffer { 
	position: absolute;
	z-index: 1;
}

.sc-scrubber .sc-played { 
	position: absolute;
	z-index: 5;
	border-right: 1px solid #ff2200;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played { 
	height: 80px;
	background: url('img/buffer.png');
}

.sc-scrubber .sc-played { 
	height: 80px;
	background: url('img/played.png');
}

/* @end */

/* @group controls */

.sc-player .sc-controls a { 
	color: transparent;
	background: url('img/play.png');
}

.sc-player .sc-controls a:hover { 
	background: url('img/play-hover.png');
}

.sc-player .sc-controls a.sc-pause { 
	background: url('img/play.png');
}

.sc-player .sc-controls a.sc-pause:hover { 
	background: url('img/play-hover.png');
}

.sc-player.playing .sc-controls a.sc-pause { 
	background: url('img/pause.png');
}

.sc-player.playing .sc-controls a.sc-pause:hover { 
	background: url('img/pause-hover.png');
}

.sc-scrubber .sc-time-indicators { 
	color: #000;
	font-size: 0.8em;
}

/* @end */