{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>Badge page &bull; PLAY Pilots</title>
    
	<style type="text/css" media="screen">
		html {
			/* background: transparent url({{ MEDIA_URL }}image/grid.png) repeat-y center top;*/
		}
		
		body {  }
		
		#badge {
			position: relative;
			padding-top: 20px;
		}
		
		#badge .illustration {
			position: absolute;
			float: left;
			margin-top: -10px;
		}
		
		#badge h2 {
			color: #000;
			margin: 5px 0 5px 260px;
		}
		
		#badge p {
			width: 480px; 
			margin-left: 260px;
		}
		
		#badge a {
			color: #ff3300;
			text-decoration: none;
		}
		
		#badge a:hover {
			text-decoration: underline;
		}
		
		#badgeintro_wrapper {
			clear: both;
			background-color: #fff;
			padding: 0 0 10px;
			background-repeat: repeat;
			background-image: url({{ MEDIA_URL }}image/grain_overlay.png);
			height: 220px;
		}
		
		#posters_wrapper {
			clear: both;
            padding: 11px 0 21px;
            background: #f5f5f5 url({{ MEDIA_URL }}image/grain_overlay.png) repeat;
            border-top: 1px solid #ddd;
            overflow: hidden;
		}
		
		#posters_wrapper h3 { 
			color: #666; 
		}
		
		.poster {
			position: relative;
			padding: 0;
			margin: 10px 0;
			background: transparent url({{ MEDIA_URL }}image/badge_turntable-01.png) no-repeat center 42px;
		}
		
		.poster a {
			text-decoration: none;
		}
		
		.poster.first {
			background-color: #fff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
				
		.first_claimed { 
			position: absolute;
			left: 115px;
			top: -15px;
		}
				
		.poster.left {
			float: left;
			width: 48%;
		}
		
		.poster.right {
			float: right;
			width: 48%;
			border-left: 1px solid #ccc;
			padding-left: 20px;
			background-position: 162px 42px;
		}
		
		.posterframe {
			width: 100px;
			height: 130px;
			padding: 10px;
			background: transparent url({{ MEDIA_URL }}image/badge_poster_bg.png) no-repeat center center;
		}
		
		.posterframe.left {
			position: relative;
			float: left;
		}
		
		.posterframe.right {
			position: relative;
			float: right;
		}
		
		.userframe.center {
			font-size: 12px;
			color: #666;
			width: 160px;
			margin: 0 auto;
			text-align: center;
		}
		
		.userframe .foundby {
			margin-top: 25px;
			height: 15px;
			font-size: 10px;
			color: #666;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 15px;
		}
		
		.userframe h5 {
			line-height: 15px;
		}
		
		.userframe .datestamp {
			margin-top: 0px;
			height: 15px;
			font-size: 11px;
			color: #999;
			line-height: 15px;
		}
		
		.userframe.center img {
			margin: 5px 56px;
		}
		
    </style>
{% endblock %}

{% block content %}
<div id="badgeintro_wrapper">
	<div id="badge" class="mainblock">
		<div class="illustration">
			<img src="{{ MEDIA_URL }}stereoscoop_badges/badge_xlarge-romanticus.png" />
		</div>
		<h2>De Romanticus</h2>
		<p>Badge one liner lorem ipsum dolor este lauda durum ad lorem. Etiam convallis massa vel justo blandit eget lacinia eros tincidunt. Morbi eget quam vitae lacus rhoncus porta.</p>
		<p>Ook een badge bij Stereoscoop gevonden? <a href="">Claim jouw code &raquo;</a></p>
	</div>
</div>

<div id="posters_wrapper">
	<div class="mainblock">
		<h3>Vondsten</h3>
		
		<div class="poster left first">
			<div class="posterframe left"><img src="{{ MEDIA_URL }}stereoscoop_posters/tt0112379.jpg" width="100" height="130" alt="" /></div>
			<div class="posterframe right"><img src="{{ MEDIA_URL }}stereoscoop_posters/tt1095427.jpg" width="100" height="130" alt="" /></div>
			<div class="userframe center">
				<div class="foundby">gevonden door</div>
				<a href="">
					<img src="{{ MEDIA_URL }}/image/unknown_avatar.png" width="48" height="48" alt="" />
					<h5>@loremdolor</h5>
				</a>
				<div class="datestamp">3 dagen geleden</div>
			</div>
			<img src="{{ MEDIA_URL }}image/first_claimed_star.png" alt="" class="first_claimed" />
		</div>
		
		<div class="poster right">
			<div class="posterframe left"><img src="{{ MEDIA_URL }}stereoscoop_posters/tt0090579.jpg" width="100" height="130" alt="" /></div>
			<div class="posterframe right"><img src="{{ MEDIA_URL }}stereoscoop_posters/tt0288861.jpg" width="100" height="130" alt="" /></div>
			<div class="userframe center">
				<div class="foundby">gevonden door</div>
				<a href="">
					<img src="{{ MEDIA_URL }}/image/unknown_avatar.png" width="48" height="48" alt="" />
					<h5>@cowandchicken</h5>
				</a>
				<div class="datestamp">4 dagen geleden</div>
			</div>
		</div>
	
		<div class="poster left">
			<div class="posterframe left"><img src="{{ MEDIA_URL }}stereoscoop_posters/tt0114623.jpg" width="100" height="130" alt="" /></div>
			<div class="posterframe right"><img src="{{ MEDIA_URL }}stereoscoop_posters/tt0117794.jpg" width="100" height="130" alt="" /></div>
			<div class="userframe center">
				<div class="foundby">gevonden door</div>
				<a href="">
					<img src="{{ MEDIA_URL }}/image/unknown_avatar.png" width="48" height="48" alt="" />
					<h5>@loremdolor</h5>
				</a>
				<div class="datestamp">4 dagen geleden</div>
			</div>
		</div>
		
		<div class="poster right">
			<div class="posterframe left"><img src="{{ MEDIA_URL }}stereoscoop_posters/tt0091685.jpg" width="100" height="130" alt="" /></div>
			<div class="posterframe right"><img src="{{ MEDIA_URL }}stereoscoop_posters/tt0086369.jpg" width="100" height="130" alt="" /></div>
			<div class="userframe center">
				<div class="foundby">gevonden door</div>
				<a href="">
					<img src="{{ MEDIA_URL }}/image/unknown_avatar.png" width="48" height="48" alt="" />
					<h5>@loremdolor</h5>
				</a>
				<div class="datestamp">5 dagen geleden</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}
