<div id="activity">
    <h3>Recente activiteit</h3>
    
    <ol>
        <li style="float: left; width: 150px;"><img src="https://asset1.37img.com/missing/avatar.png?r=3"> Bernhard heeft zich aangemeld</li>
        <li style="float: left; width: 150px;"><img src="https://asset1.37img.com/missing/avatar.png?r=3"> Simon is ingecheckt voor het NFF.</li>
        <li style="float: left; width: 150px;"><img src="https://asset1.37img.com/e01543200262bf213a1c63a1224816fbc5a03ed8/avatar.png?r=3"> Kars heeft een nieuw stempel in zijn paspoort</li>
    </ol>
</div>