<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js" charset="utf-8"></script>

    <script type="text/javascript" src="http://use.typekit.com/usl0osf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript" charset="utf-8">
        String.prototype.capitalize = function() {
            return this.charAt(0).toUpperCase() + this.slice(1);
        }
    </script>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" media="screen" charset="utf-8">

	<link rel="shortcut icon" href="{{ MEDIA_URL }}image/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ MEDIA_URL }}image/touchicon.png" />

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-17333125-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

    {% block extrahead %}{% endblock %}
</head>

<body>
    <div id="itsoverwrapper">
    	<p><strong>PLAY Pilots seizoen 2010 is voorbij.</strong> Bedankt voor het spelen, <a href="http://blog.playpilots.nl/play-pilots-week-24-wrapping-up-the-project">we komen terug &raquo;</a></p>
    </div>

    <div id="headerwrapper">
        <div id="header" class="mainblock">
	
            <div id="logo">
                <p><a href="/"><img src="{{ MEDIA_URL }}image/logo_playpilots.png" alt="PLAY Pilots"></a></p>
            </div>

            <div id="menu">
                <ol>
                    <li id="menu_home"><a href="/" class="{% ifequal current "home" %}current{% endifequal %}">Home</a></li>
                    <li id="menu_games"><a href="/games/" class="{% ifequal current "games" %}current{% endifequal %}">Games</a></li>
                    <li id="menu_klassement"><a href="/klassement/" class="{% ifequal current "klassement" %}current{% endifequal %}">Klassement</a></li>
                    <li id="menu_over"><a href="/over/" class="{% ifequal current "over" %}current{% endifequal %}">Over</a></li>
                    <li id="menu_help"><a href="/help/" class="{% ifequal current "help" %}current{% endifequal %}">Help</a></li>
                </ol>
            </div>

			<div id="checkin">
				<div class="leftpart"></div>
				<div class="middlepart">
                {% if not user.is_authenticated %}
                    <div id="login"><a href="/login/">Inloggen</a></div>
                {% else %}
                    <img src="{{ user.get_profile.get_avatar_url }}">
                    <div id="username"><a href="{{ user.get_profile.get_absolute_url }}">{{ user.get_profile.get_display_name }}</a></div>
                    <div id="logout"><a href="/logout/" id="logout">uitloggen</a></div>
                {% endif %}
				</div>
				<div class="rightpart"></div>
            </div>

        </div>
    </div>
	
	
	<div id="taglinewrapper">
	{% block tagline %}
	{% endblock %}
	</div>
	
    <div id="contentwrapper">
        {% block content %}
        <div id="content" class="mainblock">
            EVENTS: A next level play experience! About &rdquo;
        </div>
        {% endblock %}
    </div>

    <div id="footerwrapper">
        	<div id="footerexplanation" class="mainblock">
            	<h4>Wat is PLAY Pilots?</h4>
            	<p>PLAY Pilots verbindt muziek, film en speelse cultuur in Utrecht. Op Stekker Fest, het Nederlands Film Festival en Le Guess Who? kun je speciaal ontwikkelde <a href="/games/">live games</a> spelen. En er is een <a href="/klassement/">online game</a> om je eigen stijl te ontwikkelen.</p>
        	</div>

        	<div id="footergraphic" class="mainblock">Een project van <img src="{{ MEDIA_URL }}image/footer_play.png"> Mogelijk gemaakt door <img src="{{ MEDIA_URL }}image/footer_utrecht.png"> en <img src="{{ MEDIA_URL }}image/footer_provincie.png"> Gemaakt door <a href="http://www.whatsthehubbub.nl/"><img src="{{ MEDIA_URL }}image/footer_hubbub.png"></a>
        	</div>

        	<div id="footercolofon" class="mainblock">
            	<div style="float: right"><a href="/over/">Over</a> | <a href="http://blog.playpilots.nl/">Blog</a> | <a href="http://twitter.com/playpilots">Twitter</a></div>

            	<div>Deze site wordt aangeboden onder een <a href="http://creativecommons.org/licenses/by-nc/3.0/nl/">Creative Commons Naamsvermelding-NietCommercieel 3.0 Licentie</a></div>
            	</div>
        </div>
    </body>
    </html>
