{% extends "metagame/challenge_base.html" %}

{% block extrahead %}
<title>{{ user.get_profile.get_display_name|upper }} vs {{ target.get_display_name|upper }} &bull; PLAY Pilots</title>

    {{ block.super }}
    
    <script type="text/javascript" charset="utf-8">
        var targetUsername = '{{ target.user.username }}';
        var targetPlayerId = {{ target.id }};
        
        var actiontId = 0;
        var actionString = '';
        var message = '';
        
        // Prefill actions
        var actions = {};
        {% for style in styles %}
            actions['{{ style.name }}'] = [];

            {% for action in style.get_action_phrases %}
                actions['{{ style.name }}'].push([{{ action.id }}, '{{ action.phrase }}']);
            {% endfor %}
        {% endfor %}
        
        function fillMoves(style) {
            $('#moves').empty();
            
            for (var counter in actions[style]) {
                var action = actions[style][counter];
                
                $('#moves').append('<li id="move_' + action[0] + '" class="move"><b>{{ user.username }}</b> ' + templateAction(action[1], targetUsername) + '</li>');
            }
        }
        
        $(document).ready(function() {
            $('#challenge_form').ajaxForm({
                dataType: 'json',
                success: function(data) {
                    var awesomeness = data['awesomeness'];
                    
                    $('#challenge_button').replaceWith('<p>Je beweging heeft de coolness: ' + awesomeness + '</p>');
                }
            });
            
            $('.stylerow').mouseover(function() {
                $('.stylerow').removeClass('hover');
                
                var i = this.id.split('_')[2];
                $('#style_row_' + i).addClass('hover');
            });
            
            $('.stylerow').mouseout(function() {
                $('.stylerow').removeClass('hover');
            });
            
            $('.stylerow').click(function() {
                $('.stylerow').removeClass('active');
                $('.style_detail').removeClass('active');
                
                var i = this.id.split('_')[2];
                
                $('#style_row_' + i).addClass('active');
                $('#style_detail_' + i).addClass('active');
            });
            
            $('.choosestylebutton').click(function() {
                // Display the style pick field and show the chosen style
                var i = $(this).parent().attr('id').split('_')[2];
                
                var style = $('#style_row_' + i + ' TD.style').text();
                
                $('#stylechosen1 .stylename').html(style);
                
                $('#stylechooser').css('display', 'none');
                $('#stylechosen1').css('display', 'block');
                $('#action').css('display', 'block');
                
                // Also show the action choice field and fill the correct actions
                
                fillMoves(style);
                
                // Live does not work on mobile safari
                $('.move').click(function() {
                    $('.move').removeClass('selected');

                    var i = this.id.split('_')[1];

                    $('#move_' + i).addClass('selected');

                    // Store move id
                    actionId = parseInt(i);
                    actionString = $('#move_' + i).text();
                });
                
                $('.move').first().click();
            });
            
            $('#changestylelink').click(function() {
                $('.stylerow').removeClass('active');
                $('.style_detail').removeClass('active');
                
                $('#stylechooser').css('display', 'block');
                $('#stylechosen1').css('display', 'none');
                $('#action').css('display', 'none');
            });
            
            $('#makemovebutton').click(function() {
                $('#changestylelink').remove();
                
                message = $('#messagetext').val();
                
                // Send move to server
                $.post('/challenge/create/', {
                    'target': targetPlayerId,
                    'action': actionId,
                    'message': message
                }, function(data) {
                    var awesomeness = data['awesomeness'];
                    var awesomenessMessage = awesomenessMessages[awesomeness];
                    
                    $('#actionselect').append('<div class="result"><img src="{{ MEDIA_URL }}image/stars_' + awesomeness + '.png"><br><h2>' + awesomenessMessage + '</h2><p>Kijken wat <span class="responder">' + targetUsername + '</span> gaat doen&hellip;</p></div>');
                }, 'json');
                
                var totalMove = '<div class="finalmove"><b>' + actionString.capitalize();
                if (message == '') {
                } else {
                    totalMove += '<br>{{ user.username|upper }} zegt:</b> &ldquo;' + message + '&rdquo;';
                }
                totalMove += '</div>';
                
                $('#actionselect').html(totalMove);
            });
        });
    </script>
{% endblock %}

{% block content %}
<div id="content" class="mainblock start">
    
    <div id="headline">
        <div class="player1">
            <!-- <img class="you" src="{{ MEDIA_URL }}image/tag_jij.png"> -->

            <img id="vs" style="right: -50px;" src="{{ MEDIA_URL }}image/vs_stars.png">

            <div class="player">
                <img src="{{ user.get_profile.get_avatar_url }}" alt="">
                <h2>{{ user.username }}</h2>
                <p><span class="rank">{{ user.get_profile.get_rank|stringformat:".3d" }}</span> in het algemeen klassement</p>
            </div>
        </div>
        
        <div class="player2">
            <div class="player">
                <img src="{{ target.get_avatar_url }}" alt="">
                <h2>{{ target.user.username }}</h2>
                <p><span class="rank">{{ target.get_rank|stringformat:".3d" }}</span> in het algemeen klassement</p>
            </div>
        </div>
    </div>
    
    <div id="style">
        <div class="headingbox">
            <h5>Kies je stijl</h5>
            <!-- <p>Welke subcultuur wil je in dit duel vertegenwoordigen?</p> -->
        </div>
        
        <div class="box">
            <div id="styleplayer1" class="player1">
                <div id="stylechooser" class="choice">
                    <table>
                        <tr class="toprow">
                            <th>Stijl</th>
                            <th>Jouw ervaring</th>
                            <th>Jouw niveau</th>
                        </tr>

                        {% for skill in user.get_profile.get_skills %}
                            <tr id="style_row_{{ skill.style.id }}" class="stylerow {% cycle '' 'odd' %}">
                                <td class="style">{{ skill.style.name }}</td>
                                <td class="rank"><span class="rank">{{ skill.experience|stringformat:".3d" }}</span></td>
                                <td class="level"><img src="{{ MEDIA_URL }}image/level_{{ skill.level }}.png"></td>
                            </tr>
                            <tr>
                                <td id="style_detail_{{ skill.style.id }}" class="style_detail" colspan="3">
                                    <p class="probability_text">{{ skill.get_probability_text }}</p>
                                    <button class="door choosestylebutton"><p class="door">Kiezen</p></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="stylechosen1" class="{% if not duel %}choice{% endif %} stylechosen">
                    <a href="#" id="changestylelink">veranderen</a>

                    <p class="stylename">{{ duel.challenge_move.style.name }}</p>
                </div>
            </div>

            <div id="styleplayer2" class="player2">
                <p>We zullen zien wat <span class="username">{{ target.user.username }}</span> voor stijl gaat kiezen&hellip;</p>
            </div>
        </div>
    </div>
    
    <div id="action">
        <div class="headingbox">
            <h5>Kies je actie</h5>
        </div>
        
        <div class="box">
            <div id="actionplayer1" class="player1 {% if not duel %}choice{% endif %}">
                <div id="actionselect">
                    <ul id="moves">
                        <li class="move">Jij bestelt een Guillotine voor Lauda</li>
                    </ul>

                    <div class="message">
                        <h5>Jouw boodschap aan {{ target.user.username }}</h5>

                        <textarea id="messagetext" class="messagetext" name="messagetext"></textarea>

                        <p style="text-align: center;"><button type="submit" id="makemovebutton" class="bang"></button></p>
                    </div>
                </div>
            </div>
        
            <div id="actionplayer2" class="player2">
                <p>&hellip;en we wachten ook nog op de actie van {{ target.user.username|upper }}.</p>
            </div>
        </div>
        
    </div>

</div>
{% endblock %}