{% extends "metagame/challenge_base.html" %}

{% block extrahead %}
    {{ block.super }}
    
    <style type="text/css" media="screen">
        #stylechosen1, #stylechosen2 {
            display: block;
        }
        
        #action {
            display: block;
        }
    </style>
    
{% endblock %}

{% block content %}
<div id="content" class="mainblock">
    
    <div id="headline">
        <div class="player1{% ifequal duel.get_winner duel.challenger %} winner{% endifequal %}">
            {% ifequal duel.challenger.user user %}
                <img class="you" src="{{ MEDIA_URL }}image/tag_jij.png">
            {% endifequal %}
            
            <img id="vs" src="{{ MEDIA_URL }}image/vs_stars.png">

            <div class="player">
                {% ifequal duel.get_winner duel.challenger %}
                    <img src="{{ MEDIA_URL }}image/badge_winner.png" id="badgewinner">
                {% endifequal %}
                
                <h2>{{ duel.challenger.user.username }}</h2>
                <p>{{ duel.challenger_newrank }} in het algemeen klassement</p>
            </div>
        </div>
        
        <div class="player2{% ifequal duel.get_winner duel.target %} winner{% endifequal %}">
            {% ifequal duel.target.user user %}
                <img class="you" src="{{ MEDIA_URL }}image/tag_jij_mirrored.png">
            {% endifequal %}
            
            <div class="player">
                {% ifequal duel.get_winner duel.target %}
                    <img src="{{ MEDIA_URL }}image/badge_winner.png" id="badgewinner">
                {% endifequal %}
                
                <h2>{{ duel.target.user.username }}</h2>
                <p>{{ duel.responder_newrank }} in het algemeen klassement</p>
            </div>
        </div>
    </div>
    
    <div id="style">
        <div class="headingbox">
            <h5>Stijl</h5>

            <h5>Stijl</h5>
        </div>
        
        <div class="box">
            <div id="styleplayer1" class="player1">
                <div id="stylechosen1" class="stylechosen">
                    <p class="stylename">{{ duel.challenge_move.style.name }}</p>
                </div>
            </div>
        
            <div id="styleplayer2" class="player2">
                <div id="stylechosen2" class="stylechosen">
                    <p class="stylename">{{ duel.response_move.style.name }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="action">
        <div class="headingbox">
            <h5>Actie</h5>

            <h5>Reactie</h5>
        </div>
        
        <div class="box">
            <div id="actionplayer1" class="player1">
                <div class="finalmove">
                    <b>{{ duel.challenger.user.username|capfirst }}
                    {{ duel.get_challenge_move }}
                    {% if duel.challenge_message %}
                        {{ duel.challenger.user.username|capfirst }} zegt:</b> &ldquo;{{ duel.challenge_message }}&rdquo;
                    {% else %}
                    {% endif %}
                </div>
                
                <div class="result"><img src="{{ MEDIA_URL }}image/stars_{{ duel.challenge_awesomeness }}.png"><br>
                    <h2><script type="text/javascript">document.write(awesomenessMessages[{{ duel.challenge_awesomeness }}]);</script></h2>
                </div>
            </div>
        
            <div id="actionplayer2" class="player2">
                <div class="finalmove">
                    <b>{{ duel.target.user.username|capfirst }}
                    {{ duel.get_response_move }}
                    {% if duel.response_message %}
                        {{ duel.target.user.username|capfirst }} zegt:</b> &ldquo;{{ duel.response_message }}&rdquo;
                    {% else %}
                    {% endif %}
                </div>
                
                <div class="result"><img src="{{ MEDIA_URL }}image/stars_{{ duel.response_awesomeness }}.png"><br>
                    <h2><script type="text/javascript">document.write(awesomenessMessages[{{ duel.response_awesomeness }}]);</script></h2>
                    
                    {% if duel.get_response_modifier > 0 %}
                        <p>Je hebt {{ duel.get_response_modifier|stringformat:".2f"|slice:"2:"}}% meer krokans tegen {{ duel.challenge_move.style.name }}</p>
                    {% endif %}
                    
                    {% if duel.get_response_modifier < 0 %}
                        <p>Je hebt minder kans tegen {{ duel.challenge_move.style.name }}</p>
                    {% endif %}

                </div>
            </div>
        </div>
        
    </div>
    
    <div id="resultstats">
        <div class="headingbox">
            <h5>Uitkomst</h5>
        </div>
        
        <div class="box">
            <h2><span class="player">
                {% if not duel.is_tie %}
                    {{ duel.get_winner }}</span>
                {% endif %}

                {{ duel.get_win_phrase }}</h2>
            <table>
                <tr>
                    <th colspan="2">
                        {% if not duel.is_tie %}
                            {% ifequal duel.get_winner duel.challenger %}
                                Gewonnen!
                            {% else %}
                                Jij hebt verloren&hellip;
                            {% endifequal %}
                        {% endif %}
                    </th>
                    <th colspan="2">
                        {% if not duel.is_tie %}
                            {% ifequal duel.get_winner duel.target %}
                                Gewonnen!
                            {% else %}
                                Jij hebt verloren&hellip;
                            {% endifequal %}
                        {% endif %}
                    </th>
                </tr>
                
                <tr class="skill">
                    <td></td>
                    <td>{{ duel.challenger.user.username }}
                        {% if duel.get_challenger_rating_difference == 0 %}
                            blijft staan op {{ duel.challenger_newrating}}
                        {% else %}
                            {% if duel.get_challenger_rating_difference > 0 %}
                                krijgt er {{ duel.get_challenger_rating_difference }} punten bij
                            {% else %}
                                verliest {{ duel.get_challenger_rating_difference|stringformat:"d"|slice:"1:" }} punten
                            {% endif %}
                        {% endif %}
                        voor een totaal van {{ duel.challenger_newrating}}
                        {% if duel.challenger_oldrank == duel.challenger_newrank %}
                            en blijft op rang {{ duel.challenger_newrank }}
                        {% else %}
                            en 
                            {% if duel.challenger_oldrank < duel.challenger_newrank %}
                                daalt
                            {% endif %}
                            {% if duel.challenger_oldrank > duel.challenger_newrank %}
                                stijgt
                            {% endif %}
                            van rang {{ duel.challenger_oldrank }} naar {{ duel.challenger_newrank }}
                        {% endif %}
                        </td>
                    <td></td>
                    <td>
                        {{ duel.target.user.username }}
                        {% if duel.get_responder_rating_difference == 0 %}
                            blijft staan op {{ duel.responder_newrating}}
                        {% else %}
                            {% if duel.get_responder_rating_difference > 0 %}
                                krijgt er {{ duel.get_responder_rating_difference }} punten bij
                            {% else %}
                                verliest {{ duel.get_responder_rating_difference|stringformat:"d"|slice:"1:" }} punten
                            {% endif %}
                        {% endif %}
                        voor een totaal van {{ duel.responder_newrating }}
                        {% if duel.responder_oldrank == duel.responder_newrank %}
                            en blijft op rang {{ duel.responder_newrank }}
                        {% else %}
                            en
                            {% if duel.responder_oldrank < duel.responder_newrank %}
                                daalt
                            {% endif %}
                            {% if duel.responder_oldrank > duel.responder_newrank %}
                                stijgt
                            {% endif %}
                            van rang {{ duel.responder_oldrank }} naar {{ duel.responder_newrank }}
                        {% endif %}
                    </td>
                </tr>
                
                <tr class="rating">
                    <td><img src="{{ MEDIA_URL }}image/level_{{ duel.challenger_skilllevel }}.png"></td>
                    <td>{{ duel.challenger.user.username }} is nu op niveau {{ duel.challenger_skilllevel }} als {{ duel.challenge_move.style }}</td>
                    
                    <td><img src="{{ MEDIA_URL }}image/level_{{ duel.responder_skilllevel }}.png"></td>
                    <td>{{ duel.target.user.username }} is nu op niveau {{ duel.responder_skilllevel }} als {{ duel.response_move.style}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
{% endblock %}