{% extends "metagame/base.html" %}

{% block extrahead %}
    
    <script type="text/javascript" charset="utf-8">
        
        var moves = {};
        {% for style in styles %}
            moves['{{ style.name }}'] = [];

            {% for move in style.move_set.all %}
                moves['{{ style.name }}'].push([{{ move.id }}, '{{ move.name }}']);
            {% endfor %}
        {% endfor %}
        
        function fillMoves() {
            var culture = $('#style option:selected').text();
            
            var html = '';
            
            for (var counter in moves[culture]) {
                var move = moves[culture][counter];
                html += '<option value="' + move[0] + '">' + move[1] + '</option>';
            }
            
            $('#move').html(html);
        }
        
        $(document).ready(function() {
            fillMoves();
            
            $('#style').change(function() {
                fillMoves();
            });
            
            $('#challenge_form').ajaxForm({
                dataType: 'json',
                success: function(data) {
                    var awesomeness = data['awesomeness'];
                    
                    $('#challenge_button').replaceWith('<p>Je beweging heeft de coolness: ' + awesomeness + '</p>');
                }
            });
            
            $('.stylerow').click(function() {
                $('.style_detail').css('display', 'none');
                $('TR.stylerow').css('background-color', 'white');
                $('TR.stylerow:hover').css('background-color', '#f30');
                
                var i = this.id.split('_')[2];
                
                // TODO make this better and shit, refactor this with classes for various element states
                $('#style_row_' + i).css('background-color', '#f30');
                $('#style_row_' + i + ' TD.style').css('color', 'white');
                $('#style_detail_' + i).css('display', 'table-cell');
            });
        });
    </script>
    
    <style type="text/css" media="screen">
        #contentwrapper {
            background-color: #f5f5f5;
            background-image: url({{ MEDIA_URL }}image/grain_overlay.png);
        }
        
        #content {
            padding-top: 20px;
            
            padding-bottom: 40px;
            
            overflow: auto;
        }
    
        #player1 {
            
        }
        
        #player1 .you {
            float: right;
        }
        
        #vs {
            float: right;
            
            position: relative;
            right: -100px;
            top: 40px;
        }
        
        #player1 .headline {
            background-color: #b7d1d0;
        }
        
        #player2 {
            border: thin solid #ddd;
        }
        
        .player {
            width: 460px;
            
            float: left;
        }
        
        .player H5 {
            margin-top: 10px;
            color: #12151a;
        }
        
        .headline H2 {
            color: #f30;
        }
        
        .headline {
        }
        
        .name {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 40px;
        }
        
        #player1 .choice {
            border: 1px solid #ddd;
            border-top: 5px solid #ddd;
            
            background-color: white;
        }
        
        .styles TABLE {
            width: 95%;
            margin: 10px;
        }
        
        .styles TH {
            color: #ddd;
            text-align: left;
            
            font-size: 12px;
        }
        
        TR.toprow {
            border-bottom: thin solid #ddd;
        }
        
        TD, TH {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        TD {
            height: 30px;
            vertical-align: middle;
        }
        
        TR.odd {
            background-color: #f5f5f5;
        }
        
        TD.style {
            color: #f30;
        }
        
        TD.rank {
            width: 120px;
        }
        
        TD.level {
            width: 80px;
        }
        
        TD.level {
            vertical-align: middle;
        }
        
        TD.style_detail {
            display: none;
            
            background-color: #f6e9d7;
        }
        
        TD.style_detail BUTTON {
            float: right;
            text-transform: uppercase;
        }
        
        DIV.actions {
            border-bottom: 1px solid #ddd;
        }
        
        DIV.actions UL {
            margin: 10px;
        }
        
        DIV.message {
            padding: 10px;
        }
        
        #messagetext {
            width: 98%;
            height: 5em;
        }
        
        BUTTON.bang {
            background-image: url({{ MEDIA_URL }}image/action_buttons.png);
            border: none;
            background-color: transparent;
            
            width: 40px;
            height: 36px;
        }
    </style>
{% endblock %}


{% block intro %}{% endblock %}

{% block tagline %}{% endblock %}


{% block content %}
<div id="content" class="mainblock">
    
    <div id="player1" class="player">
        <img class="you" src="{{ MEDIA_URL }}image/tag_jij.png">
        
        <img id="vs" src="{{ MEDIA_URL }}image/vs_stars.png">
        
        <div class="headline">
            <div class="name">
                <h2>{{ user.username }}</h2>
                <p>18 in het algemeen klassement</p>
            </div>
        </div>
        
        <h5>Jouw stijl</h5>
        
        <div class="styles choice">
            <table>
                <tr class="toprow">
                    <th>Stijl</th>
                    <th>Jouw positie</th>
                    <th>Jouw niveau</th>
                </tr>
                
                {% for style in styles %}
                    <tr id="style_row_{{ style.id }}" class="stylerow {% cycle '' 'odd' %}">
                        <td class="style">{{ style.name }}</td>
                        <td class="rank">1</td>
                        <td class="level"><img src="{{ MEDIA_URL }}image/level_{{ forloop.counter }}.png"></td>
                    </tr>
                    <tr>
                        <td id="style_detail_{{ style.id }}" class="style_detail" colspan="3">
                            test<br>
                            <button class="door"><p class="door">Kiezen</p></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
        <h5>Jouw actie</h5>
        
        <div class="choice">
            <div class="actions">
                <ul>
                    <li>Jij bestelt een Guillotine voor Lauda</li>
                    <li>Jij bestelt een Guillotine voor Lauda</li>
                    <li>Jij bestelt een Guillotine voor Lauda</li>
                </ul>
            </div>
            
            <div class="message">
                <h5>Jouw boodschap aan {{ target.user.username }}</h5>
                
                <textarea id="messagetext" name="messagetext"></textarea>
                
                <button class="bang"></button>
            </div>
        </div>
        
    </div>
    
    
    <div id="player2" class="player">
        <div class="headline">
            <div class="name">
                <h2>{{ target.user.username }}</h2>
                <p>18 in het algemeen klassement</p>
            </div>
        </div>
        
        <div class="style">
            
        </div>
    </div>
        
    
    <form method="POST" action="/challenge/" id="challenge_form">
    
    <p>Challenger: 
    
    {{ user.username }} - {{ user.get_profile }}
    
    <p>Kies <label for="style">je cultuur</label>:
        <select id="style" name="style">
            {% for style in styles %}
                <option value="{{ style.id }}">{{ style.name }}</option>
            {% endfor %}
        </select>
        en <label for="move">je beweging</label>:
        <select id="move" name="move">
            
        </select>
        
        <br>Laat nog <label for="message">een boodschap</label> achter voor je tegenstander: <input name="message" id="message">
    </p>
    
    <p>Target: 
    
    <input type="hidden" name="target" value="{{ target.id }}">
    {{ target.user.username }} ({{ target.rating }}) - {{ target.culture }}
    
    
    <p><button type="submit" id="challenge_button">Daag uit!</button></p>
    
    </form>
</div>
{% endblock %}

{% block activityfooter %}{% endblock %}
