{% extends "metagame/challenge_base.html" %}

{% block extrahead %}
<title>{{ duel.challenger.get_display_name|upper }} vs {{ duel.target.get_display_name|upper }} &bull; PLAY Pilots</title>

    {{ block.super }}
    
    <script type="text/javascript" charset="utf-8">
        var actionId = 0;
        var actionString = '';
        var message = '';
        
        var challengeUser = '{{ duel.challenger.get_display_name }}';
        var targetUser = '{{ duel.target.get_display_name }}';
        
        var actionSent = false;
        
        // Prefill actions
        var actions = {};
        {% for style in styles %}
            actions['{{ style.name }}'] = [];

            {% for action in style.get_reaction_phrases %}
                actions['{{ style.name }}'].push([{{ action.id }}, '{{ action.phrase }}']);
            {% endfor %}
        {% endfor %}
        
        function fillMoves(style) {
            $('#moves').empty();
            
            for (var counter in actions[style]) {
                var action = actions[style][counter];
                
                var extraclass = '';
                if (counter == 0) {
                    // The first are selected by default, so we need to fill those in
                    actionId = action[0];
                    actionString = templateAction(action[1], challengeUser);

                    extraclass = 'selected';
                }
                
                $('#moves').append('<li id="move_' + action[0] + '" class="move ' + extraclass + '"><b>' + targetUser + '</b> ' + templateAction(action[1], challengeUser) + '</li>');
            }
        }
        
        $(document).ready(function() {
            $('#challenge_form').ajaxForm({
                dataType: 'json',
                success: function(data) {
                    var awesomeness = data['awesomeness'];
                    
                    $('#challenge_button').replaceWith('<p>Je beweging heeft de coolness: ' + awesomeness + '</p>');
                }
            });
            
            $('.stylerow').mouseover(function() {
                $('.stylerow').removeClass('hover');
                
                var i = this.id.split('_')[2];
                $('#style_row_' + i).addClass('hover');
            });
            
            $('.stylerow').mouseout(function() {
                $('.stylerow').removeClass('hover');
            });
            
            $('.stylerow').click(function() {
                $('.stylerow').removeClass('active');
                $('.style_detail').removeClass('active');
                
                var i = this.id.split('_')[2];
                
                $('#style_row_' + i).addClass('active');
                $('#style_detail_' + i).addClass('active');
            });
            
            $('.choosestylebutton').click(function() {
                // Display the style pick field and show the chosen style
                var i = $(this).parent().attr('id').split('_')[2];
                
                var style = $('#style_row_' + i + ' TD.style').text();
                
                $('#stylechosen2 .stylename').html(style);
                
                $('#stylechooser').css('display', 'none');
                $('#stylechosen2').css('display', 'block');
                $('#actionplayer2').css('display', 'block');
                
                // Also show the action choice field and fill the correct actions
                
                fillMoves(style);
            });
            
            $('#changestylelink').click(function() {
                $('.stylerow').removeClass('active');
                $('.style_detail').removeClass('active');
                
                $('#stylechooser').css('display', 'block');
                $('#stylechosen2').css('display', 'none');
                $('#actionplayer2').css('display', 'none');
            });
            
            $('#moves LI').live('click', function() {
                $('.move').removeClass('selected');
                
                var i = this.id.split('_')[1];
                
                $('#move_' + i).addClass('selected');
                
                // Store move id
                actionId = parseInt(i);
                actionString = $('#move_' + i).text();
            });
            
            $('#makemovebutton').click(function() {
                $('#changestylelink').remove();
                
                // Display progress
                // TODO
                
                message = $('#messagetext').val();
                
                if (actionSent) return;
                actionSent = true;
                
                // Send move to server
                $.post('/challenge/resolve/', {
                    'duel': {{ duel.id }},
                    'action': actionId,
                    'message': message
                }, function(data) {
                    var awesomeness = data['awesomeness'];
                    var awesomenessMessage = awesomenessMessages[awesomeness];
                    
                    // $('#actionselect').append('<div class="result"><img src="{{ MEDIA_URL }}image/stars_' + awesomeness + '.png"><br><h2>' + awesomenessMessage + '</h2></div>');
                    
                    // Show the closed version directly
                    refreshPage();
                    
                }, 'json');
                
                var totalMove = '<div class="finalmove"><b>' + actionString;
                if (message == '') {
                } else {
                    totalMove += ' en zegt:</b> &ldquo;' + message + '&rdquo;';
                }
                totalMove += '</div>';
                
                $('#actionselect').html(totalMove);
            });
        });
    </script>
    
    <style type="text/css" media="screen">
        #stylechosen1 {
            display: block;
        }
        
        #action {
            display: block;
        }
        
        #actionplayer2 {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<div id="content" class="mainblock open">
    
    <div id="headline">
        <div class="player1">
            {% if duel.challenger.user == user %}
                <img class="you" src="{{ MEDIA_URL }}image/tag_jij.png">
            {% endif %}
            
            <img id="vs" {% if duel.challenger.user == user %}style="right: -100px;"{% endif %} src="{{ MEDIA_URL }}image/vs_stars.png">

            <div class="player">
                <img src="{{ duel.challenger.get_avatar_url }}" alt="">
                <h2>{{ duel.challenger.user.username }}</h2>
                <p><span class="rank">{{ duel.challenger.get_rank|stringformat:".2d" }}</span> in het algemeen klassement</p>
            </div>
        </div>
        
        <div class="player2">
            {% if duel.target.user == user %}
                <img class="you" src="{{ MEDIA_URL }}image/tag_jij_mirrored.png">
            {% endif %}
            
            <div class="player">
                <img src="{{ duel.target.get_avatar_url }}" alt="">
                <h2>{{ duel.target.user.username }}</h2>
                <p><span class="rank">{{ duel.target.get_rank|stringformat:".2d" }}</span> in het algemeen klassement</p>
            </div>
        </div>
    </div>
    
    <div id="style">
        <div class="headingbox">
            <h5>Stijl</h5>

            <!-- if you are the target -->
            {% ifequal user duel.target.user %}
                <h5>Jouw stijl</h5>
            {% endifequal %}
        </div>
        
        <div class="box">
            <div id="styleplayer1" class="player1">
                <div id="stylechosen1" class="{% if not duel %}choice{% endif %} stylechosen">
                    <p class="stylename">{{ duel.challenger.user.username }} speelt als {{ duel.challenge_move.style.name }}</p>
                </div>
            </div>
        
            <div id="styleplayer2" class="player2">
                {% ifequal user duel.target.user  %}
                    <div id="stylechooser" class="choice">
                        <table>
                            <tr class="toprow">
                                <th>Stijl</th>
                                <th>Jouw ervaring</th>
                                <th>Jouw niveau</th>
                            </tr>

                            {% for skill in duel.target.get_skills %}
                                <tr id="style_row_{{ skill.style.id }}" class="stylerow {% cycle '' 'odd' %}">
                                    <td class="style">{{ skill.style.name }}</td>
                                    <td class="rank"><span class="rank">{{ skill.experience|stringformat:".2d" }}</span></td>
                                    <td class="level"><img src="{{ MEDIA_URL }}image/level_{{ skill.level }}.png"></td>
                                </tr>
                                <tr>
                                    <td id="style_detail_{{ skill.style.id }}" class="style_detail" colspan="3">
                                        <p class="probability_text">{{ skill.get_probability_text }}</p>
                                        <button class="door choosestylebutton"><p class="door">Kiezen</p></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endifequal %}

                
                <div id="stylechosen2" class="choice stylechosen">
                    <a href="#" id="changestylelink">veranderen</a>                        

                    <p class="stylename">test style 2</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="action">
        <div class="headingbox">
            <h5>Actie</h5>

            {% ifequal user duel.target.user %}
                <h5>Jouw reactie</h5>
            {% endifequal %}
        </div>
        
        <div class="box">
            <div id="actionplayer1" class="player1 {% if not duel %}choice{% endif %}">
                <div class="finalmove move">
                    <b>{{ duel.challenger.user.username }}
                    {{ duel.get_challenge_move|safe }}
                    {% if duel.challenge_message %}
                        en zegt:</b> &ldquo;{{ duel.challenge_message }}&rdquo;
                    {% else %}
                        maar had niks te zeggen.</b>
                    {% endif %}
                </div>
                
                <div class="result"><img src="{{ MEDIA_URL }}image/stars_{{ duel.challenge_awesomeness }}.png"><br>
                    <h2><script type="text/javascript">document.write(awesomenessMessages[{{ duel.challenge_awesomeness }}]);</script></h2>
                    <p>Kijken wat <span class="responder">{{ duel.target.user.username }}</span> gaat doen&hellip;</p>
                </div>
            </div>
        
            <div id="actionplayer2" class="player2">
                <div id="actionselect">
                    <ul id="moves">
                        <li class="move">Jij bestelt een Guillotine voor Lauda</li>
                    </ul>

                    <div class="message">
                        <h5>Jouw boodschap aan {{ duel.challenger.user.username }}</h5>

                        <textarea id="messagetext" class="messagetext" name="messagetext"></textarea>

                        <p style="text-align: center;"><button type="submit" id="makemovebutton" class="bang"></button></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>
{% endblock %}