{% extends "metagame/challenge_base.html" %}

{% block extrahead %}
<title>{{ duel.challenger.get_display_name|upper }} vs {{ duel.target.get_display_name|upper }} &bull; PLAY Pilots</title>

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">
        var actionId = 0;
        var actionString = '';
        var message = '';

        var challengeUser = '{{ duel.challenger.get_display_name }}';
        var targetUser = '{{ duel.target.get_display_name }}';

        var actionSent = false;

        // Prefill actions
        var actions = {};
        {% for style in styles %}
            actions['{{ style.name }}'] = [];

            {% for action in style.get_reaction_phrases %}
                actions['{{ style.name }}'].push([{{ action.id }}, '{{ action.phrase }}']);
            {% endfor %}
        {% endfor %}

        function fillMoves(style) {
            $('#moves').empty();

            for (var counter in actions[style]) {
                var action = actions[style][counter];

                $('#moves').append('<li id="move_' + action[0] + '" class="move"><b>' + targetUser + '</b> ' + templateAction(action[1], challengeUser) + '</li>');
            }
        }

        $(document).ready(function() {
            $('#challenge_form').ajaxForm({
                dataType: 'json',
                success: function(data) {
                    var awesomeness = data['awesomeness'];

                    $('#challenge_button').replaceWith('<p>Je beweging heeft de coolness: ' + awesomeness + '</p>');
                }
            });

            $('.stylerow').mouseover(function() {
                $('.stylerow').removeClass('hover');

                var i = this.id.split('_')[2];
                $('#style_row_' + i).addClass('hover');
            });

            $('.stylerow').mouseout(function() {
                $('.stylerow').removeClass('hover');
            });

            $('.stylerow').click(function() {
                $('.stylerow').removeClass('active');
                $('.style_detail').removeClass('active');

                var i = this.id.split('_')[2];

                $('#style_row_' + i).addClass('active');
                $('#style_detail_' + i).addClass('active');
            });

            $('.choosestylebutton').click(function() {
                // Display the style pick field and show the chosen style
                var i = $(this).parent().attr('id').split('_')[2];

                var style = $('#style_row_' + i + ' TD.style').text();

                $('#stylechosen2 .stylename').html(style);

                $('#stylechooser').css('display', 'none');
                $('#stylechosen2').css('display', 'block');
                $('#actionplayer2').css('display', 'block');

                // Also show the action choice field and fill the correct actions

                fillMoves(style);

                $('.move').click(function() {
                    $('.move').removeClass('selected');

                    var i = this.id.split('_')[1];

                    $('#move_' + i).addClass('selected');

                    // Store move id
                    actionId = parseInt(i);
                    actionString = $('#move_' + i).text();
                });

                $('.move').first().click();
            });

            $('#changestylelink').click(function() {
                $('.stylerow').removeClass('active');
                $('.style_detail').removeClass('active');

                $('#stylechooser').css('display', 'block');
                $('#stylechosen2').css('display', 'none');
                $('#actionplayer2').css('display', 'none');
            });

            $('#makemovebutton').click(function() {
                $('#changestylelink').remove();

                // Display progress
                // TODO

                message = $('#messagetext').val();

                if (actionSent) return;
                actionSent = true;

                // Send move to server
                $.post('/challenge/resolve/', {
                    'duel': {{ duel.id }},
                    'action': actionId,
                    'message': message
                }, function(data) {
                    var awesomeness = data['awesomeness'];
                    var awesomenessMessage = awesomenessMessages[awesomeness];

                    // $('#actionselect').append('<div class="result"><img src="{{ MEDIA_URL }}image/stars_' + awesomeness + '.png"><br><h2>' + awesomenessMessage + '</h2></div>');

                    // Show the closed version directly
                    refreshPage();

                }, 'json');

                var totalMove = '<div class="finalmove"><b>' + actionString;
                if (message == '') {
                } else {
                    totalMove += ' en zegt:</b> &ldquo;' + message + '&rdquo;';
                }
                totalMove += '</div>';

                $('#actionselect').html(totalMove);
            });
        });
    </script>

    <style type="text/css" media="screen">
        #stylechosen1 {
            display: block;
        }

        #action {
            display: block;
        }

        #actionplayer2 {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<div id="content" class="mainblock open">

    <div id="headline">
        <div class="player1 {% if duel.challenger.user == user %}you{% endif %}">
            <img id="vs" {% if duel.challenger.user == user %}style="right: -50px;"{% endif %} src="{{ MEDIA_URL }}image/vs_stars.png">

            <div class="player">
                <img src="{{ duel.challenger.get_avatar_url }}" alt="">
                <h2>{{ duel.challenger.user.username }}</h2>
                <p><span class="rank">{{ duel.challenger.get_rank|stringformat:".3d" }}</span> in het algemeen klassement</p>
            </div>
        </div>

        <div class="player2 {% if duel.target.user == user %}you{% endif %}">
            <div class="player">
                <img src="{{ duel.target.get_avatar_url }}" alt="">
                <h2>{{ duel.target.user.username }}</h2>
                <p><span class="rank">{{ duel.target.get_rank|stringformat:".3d" }}</span> in het algemeen klassement</p>
            </div>
        </div>
    </div>

    <div id="style">
        <div class="headingbox">
            <h5>{{ duel.challenger.user.username }}&rsquo;s stijl</h5>

            <!-- if you are the target -->
            {% ifequal user duel.target.user %}
                <h5>Kies je stijl</h5>
                <!-- <p>Welke subcultuur wil je vertegenwoordigen in dit duel? Hoe hoger je stijlniveau, hoe groter de kans dat je een vette move doet.</p> -->
            {% endifequal %}
        </div>

        <div class="box">
            <div id="styleplayer1" class="player1">
                <div id="stylechosen1" class="{% if not duel %}choice{% endif %} stylechosen">
                    <p><span class="username">{{ duel.challenger.user.username }}</span> speelt als <span class="stylename">{{ duel.challenge_move.style.name }}</span></p>
                </div>
            </div>

            <div id="styleplayer2" class="player2">
                {% ifequal user duel.target.user  %}
                    <div id="stylechooser" class="choice">
                        <table>
                            <tr class="toprow">
                                <th>Stijl</th>
                                <th>Jouw ervaring</th>
                                <th>Jouw niveau</th>
                            </tr>

                            {% for skill in duel.target.get_skills %}
                                <tr id="style_row_{{ skill.style.id }}" class="stylerow {% cycle '' 'odd' %}">
                                    <td class="style">{{ skill.style.name }}</td>
                                    <td class="rank"><span class="rank">{{ skill.experience|stringformat:".3d" }}</span></td>
                                    <td class="level"><img src="{{ MEDIA_URL }}image/level_{{ skill.level }}.png"></td>
                                </tr>
                                <tr>
                                    <td id="style_detail_{{ skill.style.id }}" class="style_detail" colspan="3">
                                        <p class="styleblurb">{{ skill.style.name }} {{ skill.style.get_blurb }}</p>
                                        <p class="probability_text">{{ skill.get_probability_text }}</p>
                                        <button class="door choosestylebutton"><p class="door">Kiezen</p></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endifequal %}


                <div id="stylechosen2" class="choice stylechosen">
                    <a href="#" id="changestylelink">veranderen</a>

                    <p class="stylename">test style 2</p>
                </div>
            </div>
        </div>
    </div>

    <div id="action">
        <div class="headingbox">
            <h5>{{ duel.challenger.user.username }}&rsquo;s actie</h5>

            {% ifequal user duel.target.user %}
                <h5>Kies je reactie</h5>
                <!-- <p>Met welke move wil je je doelwit imponeren? Je kan je actie extra kracht bij zetten met een boodschap. (Dit heeft geen invloed op je winkans, maar wel op je street cred.)</p> -->
            {% endifequal %}
        </div>

        <div class="box">
            <div id="actionplayer1" class="player1 {% if not duel %}choice{% endif %}">
                <div class="finalmove">
                    <b><span class="username">{{ duel.challenger.user.username }}</span>
                    <span>{{ duel.get_challenge_move|safe }}</span>
                    {% if duel.challenge_message %}
                        en zegt:</b> <span class="message">&ldquo;{{ duel.challenge_message }}&rdquo;</span>
                    {% else %}
                        maar had niks te zeggen.</b>
                    {% endif %}
                </div>

                <div class="result"><img src="{{ MEDIA_URL }}image/stars_{{ duel.challenge_awesomeness }}.png"><br>
                    <h2><script type="text/javascript">document.write(awesomenessMessages[{{ duel.challenge_awesomeness }}]);</script></h2>
                    <p>Kijken wat <span class="responder">{{ duel.target.user.username }}</span> gaat doen&hellip;</p>
                </div>
            </div>

            <div id="actionplayer2" class="player2">
                <div id="actionselect">
                    <ul id="moves">
                        <li class="move">Jij bestelt een Guillotine voor Lauda</li>
                    </ul>

                    <div class="message">
                        <h5>Jouw boodschap aan {{ duel.challenger.user.username }}</h5>

                        <textarea id="messagetext" class="messagetext" name="messagetext"></textarea>

                        <p style="text-align: center;"><button type="submit" id="makemovebutton" class="bang"></button></p>
                    </div>

                    <!-- <p>Wat gebeurt er als je klikt? Het lot bepaalt de vetheid van je move en we sturen een tweet naar je uitdager met de uitslag.</p> -->

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}