{% extends "metagame/base.html" %}

{% block extrahead %}

    <script type="text/javascript" charset="utf-8">
        var awesomenessMessages = {
            1: 'Die actie was veel te houterig. Fail!',
            2: 'Die actie was nog wat aarzelend. Matig!',
            3: 'Die actie was behoorlijk goed. Okee!',
            4: 'Die actie was uit het boekje. Cool!',
            5: 'Die actie was intimiderend, overweldigend.'};
            
        function refreshPage() {
            window.location.reload();
        }
        
        function templateAction(action, name) {
            return action.replace('X', '<b>' + name + '</b>');
        }
    </script>

    <style type="text/css" media="screen">
        html {
/*            background: transparent url({{ MEDIA_URL }}image/grid.png) repeat-y top center;*/
        }
        
        #contentwrapper {
            background-color: #f5f5f5;
            background-image: url({{ MEDIA_URL }}image/grain_overlay.png);            
            border-top: 5px solid #ddd;
        }
        
        #content {
            padding-top: 20px;
            padding-bottom: 40px;            
            overflow: auto;
        }
        
        /* Generic styles for players. */
        
        closed .player1 {
/*            width: 469px;*/
/*            float: left;*/
        } 
        
        closed .player2 {
/*            width: 469px;*/
/*            float: left;*/
        }
        
        #headline .player1 {
            width: 470px;
            float: left;
        }
        
        #headline .player2 {
            width: 470px;
            float: left;
        }
        
        .start #style .player1, .open #style .player2 {
            width: 470px;
            float: left;
        }
        
        .start #style .player2, .open #style .player1 {
            width: 468px;
            float: left;
        }
        
        .start #actionplayer1, .open #actionplayer2 {
            width: 469px;
            float: left;
        }
        
        .open #actionplayer1 {
            width: 468px;
            float: left;
        }
        
        .closed #style .player1, .closed #actionplayer1 {
            border-right: 1px solid #ddd;
            width: 468px;
            float: left;
        }
        
        .closed #style .player2, .closed #actionplayer2 {
            width: 469px;
            float: left;            
        }
        
        .closed #actionplayer2 {
            border-left: 1px solid #ddd;
            margin-left: -1px;
            
        }
                        
        div#content.start div#styleplayer2 p, div#content.start div#actionplayer2 p {
            font-size: 12px;
            color: #bbb;
            text-align: center;
            margin: 15px 10px;
        }

        div#content.start div#styleplayer2 p span.username {
            text-transform: uppercase;
        }        
        
        .headingbox {
            overflow: auto;
        }
        
        H5 {
            width: 470px;
            float: left;
            color: #12151a;
        }
        
        .box {
            border: 1px solid #ddd;
            overflow: hidden;
        }
        
        .start .player1 .choice, .start #actionplayer1 {
            border-right: 1px solid #ddd;
        }
        
        .open .player2 .choice, .open #actionplayer2 {
            border-left: 1px solid #ddd;
			background-color: #fff;
        }
        
        .choice {
            border-top: 5px solid #ddd;
            
            background-color: white;
        }
        
        .move B {
            text-transform: uppercase;
        }
        
        /* First bar with names and information. */
        
        #headline {
            overflow: hidden;
        }
        
        #headline H2 {
            color: #f30;
        }
        
        #headline .player1 {
            background-image: url({{ MEDIA_URL }}image/action_bg_blue.png);
            background-repeat: no-repeat;
            
            height: 85px;
        }
        
        #headline .player2 {
            background-image: url({{ MEDIA_URL }}image/action_bg_outline.png);
            background-repeat: no-repeat;
            background-position: right center;
            
            height: 85px;
        }
        
        .open #headline .player1 {
            background-image: url({{ MEDIA_URL }}image/action_bg_outline.png);            
        }

        .open #headline .player2 {
            background-image: url({{ MEDIA_URL }}image/action_bg_blue.png);
        }
        
        .closed #headline .player1, .closed #headline .player2 {
            background-image: url({{ MEDIA_URL }}image/action_bg_outline.png);                        
        } 
        
        .closed #headline .winner {
            background-image: url({{ MEDIA_URL }}image/action_bg_yellow.png);
        }
        
        div.start div#headline div.player1, div.open div#headline div.player2, div.closed div#headline div.player1.you, div.closed div#headline div.player2.you {
            background-image: url({{ MEDIA_URL }}image/action_bg_blue_you.png);
        }
        
        div.closed div#headline div.player1.winner.you, div.closed div#headline div.player2.winner.you {
            background-image: url({{ MEDIA_URL }}image/action_bg_yellow_you.png);
        }
        
        #badgewinner {
/*            display: none;*/
            float: right;
            width: 70px;
            height: 90px;
            margin: 0;
        }

        .player1 .you {
/*            display: none;*/
/*            float: right;*/
/*            position: absolute;*/
/*            top: 113px;
            left: 454px;
*/        }
        
        .player2 .you {
/*            display: none;*/
/*            float: left;*/
/*            position: absolute;*/
/*            top: 113px;
            left: 54px;
*/        }        
        
        .player1 .player {
            margin-top: 20px;
            margin-left: 60px;
        }
        
        .player2 .player {
            margin-top: 20px;
            margin-left: 90px;
        }
        
        .player img {
            width: 40px;
            height: 40px;
            margin: 0 10px 0 0;
            float: left;
        }
        
        .player p {
            font-size: 12px;
            color: #333;
        }
        
        .player span.rank, td.rank span, #resultstats span.rank {
            background: transparent url(http://playpilots.nl/static/image/ranking_bar_bg.png) no-repeat 50% 50%;
            color: white;
            padding: 0px 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;       
            font-size: 10px;
            display: inline-block;
/*            float: left;*/
/*            width: 30px;*/
            text-align: center;
        }
        
        .player span.rank {
            margin-right: 2px;
        }
        
        #vs {
            float: right;
            position: relative;
            right: -50px;
            top: 28px;
/*            clear: both;*/
        }

        .name {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 40px;
        }
        
        /* Second block to pick and display styles for players. */
        #style {
            margin-top: 10px;
        }
        
        #stylechooser {
            padding-bottom: 10px;
        }

        #stylechooser TABLE {
            width: 450px;
            margin: 10px auto 0 auto;
        }
        
        #stylechooser TH {
            color: #bbb;
            text-align: left;
            font-weight: normal;            
            font-size: 11px;
        }
        
        TR.toprow {
            border-bottom: thin solid #ddd;
        }
        
        TR.stylerow.hover {
            background-color: #F6E9D7;
        }
        
        TR.stylerow.active {
            background-color: #f30;
        }
        
        TR.stylerow.hover TD {} 
        
        TR.stylerow.active TD {
            color: white;
        }
        
        TD, TH {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        TD {
            height: 30px;
            vertical-align: middle;
        }
        
        TR.odd {
            background-color: #f5f5f5;
        }
        
        TD.style {
            width: 50%;
            color: #f30;
        }
        
        TD.rank {
            width: 25%;
        }
        
        TD.level {
            width: 25%;
            vertical-align: middle;
        }
        
        td.level img {
            float: left;
        }
                
        TD.style_detail {
            display: none;            
            background-color: #f6e9d7;
        }

        td.style_detail p {
            font-size: 12px;
            margin: 10px 0 0 0;
        }
        
        td.style_detail form {
            margin-top: -10.5px;
        }
        
        td.style_detail button {
/*            text-align: right;*/
            float: right;
/*            cursor: hand;*/
        }
        
        TD.style_detail.active {
            display: table-cell;
        }
        
        /* Box to store the style that was chosen in. */
        #stylechosen1 {
            display: none;
        }
        
        #stylechosen2 {
            display: none;
        }
        
        .stylechosen {
            padding: 10px 20px 15px 20px;
        }
        
        .stylechosen A {
            text-decoration: none;
            color: #f30;
        }
        
        .stylechosen P {
            margin: 0;
        }
        
        .stylechosen .stylename {
            color: #333;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        #changestylelink {
            float: right;
            font-size: 12px;
        }
        
        #changestylelink:hover {
            text-decoration: underline;
        }
        
        /* Styles for choosing the action. */
        
        #action {
            overflow: auto;
            display: none;            
            margin-top: 10px;
            padding: 0;
        }
        
        #actionselect {
            width: 470px;
            margin: 10px 0 0 0;
        }
        
        .open .finalmove, .closed .finalmove {
            margin-top: 10px;
        }
        
        #actionselect UL {
            margin: 0 10px 10px 10px;
        }
        
        #actionselect UL LI {
            list-style-type: none;
        }
        
        #actionselect LI {
            color: #f30;
            padding: 5px 33px 5px 5px;
        }
        
        #actionselect LI.selected, #actionselect LI:hover {
            background-color: #f30;
            color: white;            
            background-image: url({{ MEDIA_URL }}image/icon_check.png);
            background-position: 427px center;
            background-repeat: no-repeat;
        }
        
        DIV.message {
            border-top: 1px solid #ddd;
/*            width: 100%;*/
            padding: 10px;
        }
        
        .message H5 {
            color: #666;
        }
        
        .message p {
            margin-bottom: 5px;
        }
        
        .messagetext {
            width: 98%;
            height: 5em;
        }
        
        BUTTON.bang {
            background-image: url({{ MEDIA_URL }}image/action_buttons_medium.png);
            background-position: center center;
            border: none;
            background-color: transparent;
            
            width: 40px;
            height: 40px;
        }
        BUTTON.bang:hover {
            background-position: center top;
        }
        BUTTON.bang:active {
            background-position: center bottom;
        }
        
        .finalmove {
            padding: 0 20px 0 20px;
        }
        
        .result {
            border-top: thin solid #ddd;
            margin: 20px;
            padding: 25px 0 0 0;
            text-align: center;
        }
        
        .result H2 {
            margin: 10px 0;
            color: #333;
        }
        
        .result .responder {
            text-transform: uppercase;
            font-weight: bold;
        }
        
        #resultstats {
            margin-top: 10px;
        }
        
        #resultstats .box {
			background-color: #fff;
            padding: 20px 20px 0 20px;
        }
        
        #resultstats H2 {
            text-align: center;
            color: #12151a;
            border-bottom: 1px solid #ddd;
            padding-bottom: 15px;
/*            margin-bottom: 10px;*/
        }
        
        #resultstats H2 .player {
            color: #f30;
        }
        
        #resultstats TABLE {
/*            width: 90%;*/
/*            margin: 20px 0;*/
            padding: 20px 0;
        }
        
        #resultstats TH {
            text-align: left;
            text-transform: uppercase;
            padding: 10px 0 0 0;
        }
        
        #resultstats TD {
            color: #666;
            padding: 0;
        }
        
        #resultstats TH.border, #resultstats TD.border {
            border-right: 1px solid #ddd;
            padding-right: 20px;
        }

        #resultstats TH.pad, #resultstats TD.pad {
            padding-left: 19px;
        }
        
        #resultstats TR.rating TD {
            padding-bottom: 10px;
        }
        
        #resultstats TD IMG {
            float: left;
            margin-right: 10px;
        }
        
    </style>
{% endblock %}

{% block content %}
{% endblock %}