{% extends "metagame/base.html" %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8">
        var targetUser = '{{ target.user.username }}';
        var targetUserId = {{ target.user.id }};
        var moveId = 0;
        var moveString = '';
        var message = '';
        
        // Prefill moves
        var moves = {};
        {% for style in styles %}
            moves['{{ style.name }}'] = [];

            {% for move in style.move_set.all %}
                moves['{{ style.name }}'].push([{{ move.id }}, '{{ move.name }}']);
            {% endfor %}
        {% endfor %}
        
        function templateMove(move, name) {
            return move.replace('X', name);
        }
        
        function fillMoves(style) {
            $('#moves').empty();
            
            for (var counter in moves[style]) {
                var move = moves[style][counter];
                
                var extraclass = '';
                if (counter == 0) {
                    // The first are selected by default, so we need to fill those in
                    moveId = move[0];
                    moveString = templateMove(move[1], targetUser);

                    extraclass = 'selected';
                }
                
                $('#moves').append('<li id="move_' + move[0] + '" class="move ' + extraclass + '">' + templateMove(move[1], targetUser) + '</li>');
            }
        }
        
        $(document).ready(function() {
            $('#challenge_form').ajaxForm({
                dataType: 'json',
                success: function(data) {
                    var awesomeness = data['awesomeness'];
                    
                    $('#challenge_button').replaceWith('<p>Je beweging heeft de coolness: ' + awesomeness + '</p>');
                }
            });
            
            $('.stylerow').mouseover(function() {
                $('.stylerow').removeClass('hover');
                
                var i = this.id.split('_')[2];
                $('#style_row_' + i).addClass('hover');
            });
            
            $('.stylerow').mouseout(function() {
                $('.stylerow').removeClass('hover');
            });
            
            $('.stylerow').click(function() {
                $('.stylerow').removeClass('active');
                $('.style_detail').removeClass('active');
                
                var i = this.id.split('_')[2];
                
                $('#style_row_' + i).addClass('active');
                $('#style_detail_' + i).addClass('active');
            });
            
            $('.choosestylebutton').click(function() {
                // Display the style pick field and show the chosen style
                var i = $(this).parent().attr('id').split('_')[2];
                
                var style = $('#style_row_' + i + ' TD.style').text();
                
                $('#stylechosen .stylename').html(style);
                
                $('#stylechooser').css('display', 'none');
                $('#stylechosen').css('display', 'block');
                $('#action').css('display', 'block');
                
                // Also show the action choice field and fill the correct actions
                
                fillMoves(style);
            });
            
            $('#changestylelink').click(function() {
                $('.stylerow').removeClass('active');
                $('.style_detail').removeClass('active');
                
                $('#stylechooser').css('display', 'block');
                $('#stylechosen').css('display', 'none');
                $('#action').css('display', 'none');
            });
            
            $('#moves LI').live('click', function() {
                $('.move').removeClass('selected');
                
                var i = this.id.split('_')[1];
                
                $('#move_' + i).addClass('selected');
                
                // Store move id
                moveId = parseInt(i);
                moveString = $('#move_' + i).text();
            });
            
            $('#makemovebutton').click(function() {
                $('#changestylelink').remove();
                
                // Display progress
                // TODO
                
                message = $('#messagetext').val();
                
                // Send move to server
                $.post('/challenge/', {
                    'target': targetUserId,
                    'move': moveId,
                    'message': message
                }, function(data) {
                    var awesomeness = data['awesomeness'];
                    
                    var awesomenessMessage = '';
                    
                    switch(awesomeness) {
                        case 1:
                            awesomenessMessage = ' Je actie was veel te houterig. Fail!';
                            break;
                        case 2:
                            awesomenessMessage = 'Je actie was nog wat aarzelend. Matig!';
                            break;
                        case 3:
                            awesomenessMessage = 'Je actie was behoorlijk goed. Okee!';
                            break;
                        case 4:
                            awesomenessMessage = 'Je actie was uit het boekje. Cool!';
                            break;
                        case 5:
                            awesomenessMessage = 'Je actie was intimiderend, overweldigend. Gruwelijk!';
                            break;
                    }
                    
                    $('#actionselect').append('<div class="result"><img src="{{ MEDIA_URL }}image/stars_' + awesomeness + '.png"><br><h2>' + awesomenessMessage + '</h2><p>Kijken wat <span class="responder">' + targetUser + '</span> gaat doen</p></div>');
                }, 'json');
                
                var totalMove = '<div class="finalmove"><b>JIJ ' + moveString;
                if (message == '') {
                    totalMove += ' zonder iets te zeggen.</b>';
                } else {
                    totalMove += ' en zegt:</b> &ldquo;' + message + '&rdquo;';
                }
                totalMove += '</div>';
                
                $('#actionselect').html(totalMove);
            });
        });
    </script>
    
    <style type="text/css" media="screen">
        #contentwrapper {
            background-color: #f5f5f5;
            background-image: url({{ MEDIA_URL }}image/grain_overlay.png);
            
            border-top: 5px solid #ddd;
        }
        
        #content {
            padding-top: 20px;
            padding-bottom: 40px;
            
            overflow: auto;
        }
        
        /* Generic styles for players. */
        .player1 {
            width: 460px;
            float: left;
        }
        
        .player2 {
            width: 460px;
            float: left;
        }
        
        H5 {
            margin-top: 10px;
            color: #12151a;
        }
        
        .box {
            border: 1px solid #ddd;
            overflow: hidden;
        }
        
        .choice {
            border-right: 1px solid #ddd;
            border-top: 5px solid #ddd;
            
            background-color: white;
        }
        
        /* First bar with names and information. */
        
        #headline {
            overflow: hidden;
        }
        
        #headline H2 {
            color: #f30;
        }
        
        #headline .player1 {
            background-image: url({{ MEDIA_URL }}image/action_bg_blue.png);
            background-repeat: no-repeat;
            
            height: 85px;
        }
        
        #headline .player2 {
            background-image: url({{ MEDIA_URL }}image/action_bg_outline.png);
            background-repeat: no-repeat;
            background-position: right center;
            
            height: 85px;
        }

        .player1 .you {
            float: right;
        }
        
        .player1 .player {
            margin-top: 20px;
            margin-left: 40px;
        }
        
        .player2 .player {
            margin-top: 20px;
            margin-left: 80px;
        }
        
        #vs {
            float: right;
            
            position: relative;
            right: -100px;
            top: 40px;
        }

        .name {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 40px;
        }
        
        /* Second block to pick and display styles for players. */
        #style {
            margin-top: 10px;
        }

        #stylechooser TABLE {
            width: 95%;
            margin: 10px auto;
        }
        
        #stylechooser TH {
            color: #bbb;
            text-align: left;
            
            font-size: 12px;
        }
        
        TR.toprow {
            border-bottom: thin solid #ddd;
        }
        
        TR.stylerow.hover, TR.stylerow.active {
            background-color: #f30;
        }
        
        TR.stylerow.hover TD, TR.stylerow.active TD {
            color: white;
        }
        
        TD, TH {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        TD {
            height: 30px;
            vertical-align: middle;
        }
        
        TR.odd {
            background-color: #f5f5f5;
        }
        
        TD.style {
            color: #f30;
        }
        
        TD.rank {
            width: 120px;
        }
        
        TD.level {
            width: 80px;
            vertical-align: middle;
        }
                
        TD.style_detail {
            display: none;
            
            background-color: #f6e9d7;
        }

        TD.style_detail.active {
            display: table-cell;
        }
        
        /* Box to store the style that was chosen in. */
        #stylechosen {
            display: none;
            padding: 5px 5px 0 5px;
        }
        
        #stylechosen A {
            text-decoration: none;
            color: #f30;
        }
        
        #stylechosen P {
            margin: 0;
        }
        
        #stylechosen .stylename {
            color: #f30;
            text-transform: uppercase;
        }
        
        #changestylelink {
            float: right;
        }
        
        /* Styles for choosing the action. */
        
        #action {
            overflow: auto;
            display: none;
            
            margin-top: 10px;
        }
        
        #actionselect {
            padding: 10px;
            width: 440px;
        }
        
        #actionselect UL LI {
            list-style-type: none;
        }
        
        #actionselect LI {
            color: #f30;
            padding: 5px;
        }
        
        #actionselect LI.selected, #actionselect LI:hover {
            background-color: #f30;
            color: white;
            
            background-image: url({{ MEDIA_URL }}image/icon_check.png);
            background-position: 95% center;
            background-repeat: no-repeat;
        }
        
        DIV.message {
            padding: 10px;
        }
        
        .message H5 {
            color: #666;
        }
        
        .messagetext {
            width: 98%;
            height: 5em;
        }
        
        BUTTON.bang {
            background-image: url({{ MEDIA_URL }}image/action_buttons_medium.png);
            background-position: center center;
            border: none;
            background-color: transparent;
            
            width: 40px;
            height: 40px;
        }
        BUTTON.bang:hover {
            background-position: center top;
        }
        BUTTON.bang:active {
            background-position: center bottom;
        }
        
        .finalmove {
            padding: 10px;
        }
        
        .result {
            border-top: thin solid #ddd;
            padding: 20px;
            text-align: center;
        }
        
        .result H2 {
            color: #666;
        }
        
        .result .responder {
            text-transform: uppercase;
            font-weight: bold;
        }
    </style>
{% endblock %}


{% block tagline %}{% endblock %}


{% block content %}
<div id="content" class="mainblock">
    
    <div id="headline">
        <div class="player1">
            <img class="you" src="{{ MEDIA_URL }}image/tag_jij.png">

            <img id="vs" src="{{ MEDIA_URL }}image/vs_stars.png">

            <div class="player">
                <h2>{{ user.username }}</h2>
                <p>18 in het algemeen klassement</p>
            </div>
        </div>
        
        <div class="player2">
            <div class="player">
                <h2>{{ target.user.username }}</h2>
                <p>18 in het algemeen klassement</p>
            </div>
        </div>
    </div>
    
    <div id="style">
        <h5>Jouw stijl</h5>
        
        <div class="box">
            <div id="styleplayer1" class="player1">
                <div id="stylechooser" class="choice">
                    <table>
                        <tr class="toprow">
                            <th>Stijl</th>
                            <th>Jouw positie</th>
                            <th>Jouw niveau</th>
                        </tr>

                        {% for style in styles %}
                            <tr id="style_row_{{ style.id }}" class="stylerow {% cycle '' 'odd' %}">
                                <td class="style">{{ style.name }}</td>
                                <td class="rank">1</td>
                                <td class="level"><img src="{{ MEDIA_URL }}image/level_{{ forloop.counter }}.png"></td>
                            </tr>
                            <tr>
                                <td id="style_detail_{{ style.id }}" class="style_detail" colspan="3">
                                    test<br>
                                    <button class="door choosestylebutton"><p class="door">Kiezen</p></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="stylechosen" class="choice">
                    <a href="#" id="changestylelink">veranderen</a>

                    <p class="stylename">teststyle</p>
                </div>
            </div>
        
            <div id="styleplayer2" class="player2">
            
                <!-- spacer heading for the other side, about to be filled in for some cases -->
                <h5>&nbsp;</h5>
            
                <div>We zullen zien wat {{ target.user.username }} voor stijl gaat kiezen.</div>
            </div>
        </div>
    </div>
    
    <div id="action">
        <h5>Jouw actie</h5>
        
        <div class="box">
            <div id="actionselect" class="player1 choice">
                <div>
                    <ul id="moves">
                        <li class="move">Jij bestelt een Guillotine voor Lauda</li>
                    </ul>
                </div>
            
                <div class="message">
                    <h5>Jouw boodschap aan {{ target.user.username }}</h5>
                
                    <textarea id="messagetext" class="messagetext" name="messagetext"></textarea>
                
                    <p style="text-align: center;"><button type="submit" id="makemovebutton" class="bang"></button></p>
                </div>
            </div>
        
            <div id="actionplayer2" class="player2">
                We wachten op de actie van {{ target.user.username }}.
            </div>
        </div>
        
    </div>

</div>
{% endblock %}

{% block activityfooter %}{% endblock %}
