{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>Festivals</title>
    
    <style type="text/css" media="screen">
        
        #content {
            background-color: #f5f5f5;
        }
        
        #festival_list {
            padding-top: 20px;
            
            overflow: auto;
        }
        
        .festival {
            float: left;
            width: 300px;
            height: 200px;
            
            margin-left: 20px;
            
            background-color: white;
            
            border-top: 4px solid #ddd;
        }
        
        .festival .mainimage {
            float: left;
            
            width: 140px;
            height: 200px;
            
            background-position: center center;
        }
        
        .festival .date {
            font-weight: bold;
        }
        
    </style>
{% endblock %}

{% block tagline %}{% endblock %}

{% block content %}
<div id="festival_list">
    {% for festival in festivals %}
        <div id="festival_{{ festival.id }}" class="festival">
            <div class="mainimage" style="{% if festival.photo %}background-image: url({{ festival.photo.url }});{% endif %}"></div>
            
            <h5>{{ festival.name }}</h5>
            
            <p class="date">{{ festival.start|date:"d M Y" }}</p>
            
            <p><a href="/festivals/{{ festival.slug }}">{{ festival.description|truncatewords:10}}</a></p>
        </div>
    {% endfor %}
</div>
{% endblock %}


{% block activityfooter %}{% endblock %}