{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>{{ festival.name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ festival.name }}</h1>
        
    <p>description: {{ festival.description }}</p>
    
    <p>{{ festival.start }} - {{ festival.end }}</p>
    
    <p>externe link: <a href="{{ festival.link }}">{{ festival.link }}</a></p>
    
    <p>link naar gekoppelde <a href="/games/{{ festival.first_game.slug }}/">{{ festival.first_game.name }}</a></p>
    
    <p>Photo:
    <img id="photo" src="{{ festival.photo }}" style="width: 300px; height: 200px;"></p>
    
    <p>Logo:
    {% if festival.logo %}
        <img id="logo" src="{{ festival.logo.url }}" style="width: 200px;"></p>
    {% endif %}
    
    <h2>Activiteiten</h2>
    
    <p>Hier de activiteiten voor het festival. Wat precies?</p>
{% endblock %}