{% extends "metagame/base.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/css/game.css" type="text/css" media="screen" charset="utf-8">
    
    <title>Game {{ game.name }}</title>
    
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            
            /*
            $('#interest_form').ajaxForm({
                dataType: 'json',
                success: function(data) {
                    
                }
            });
            */
            
        });
    </script>
    
{% endblock %}

{% block intro %}{% endblock %}

{% block content %}
<div id="game_id" class="game">
    <div id="side">
        <img src="" style="width: 200px; height: 200px;">
        
        <p>flickr machine tag</p>
        
        <p><a href="/makers/bla/">{{ game.maker.logo }} maker logo </a></p>
        <p><a href="/festivals/bla/">{{ game.festival.logo }} festival logo</a></p>
        
        {% if interest %}
            Je gaat naar het festival!
        {% else %}
            <form method="POST" action="/games/{{ game.slug }}/interested/" id="interest_form">
                <button type="submit">KNOP OM OP TE KLIKKEN</button>
            </form>
        {% endif %}
        
        
    </div>

    <p>{{ game.start }} - {{ game.end }}</p>

    <h1>{{ game.name }}</h1>

    <p>door <a href="/makers/{{ game.maker.slug }}/">{{ game.maker.name }}</a></p>

    <p>voor <a href="/festivals/{{ game.festival.slug }}/">{{ game.festival.name }}</a></p>

    <p>description: {{ game.description }}</p>

    <p>spelers<br>
    wie hebben dit gespeeld, lijst van <a href="/players/">spelers</a><br>
    wie wil dit spelen, lijst van <a href="/players/">spelers</a></p>
    
    <p><a href="">making of</a></p>
    
    <div id="activity">
        <h2>game activity</h2>
        
        <ol>
            <li>Alper heeft net een powerup gehaald</li>
            <li>Kars heeft zich net aangemeld</li>
        </ol>
    </div>
</div>
{% endblock %}

{% block activityfooter %}{% endblock %}