{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>{{ game.name }} door {{ game.maker.name}} voor {{ game.festival.name }} &bull; PLAY Pilots</title>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cross-slide.min.js"></script>
    
    <link rel="stylesheet" href="/static/soundcloudplayer/css/sc-player-bandjesland.css" type="text/css">

    <script type="text/javascript" src="/static/soundcloudplayer/js/soundcloud.player.api.js"></script>
    <script type="text/javascript" src="/static/soundcloudplayer/js/sc-player.js"></script>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.4.custom.min.js" charset="utf-8"></script>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jQuery.jPlayer.1.2.0/jquery.jplayer.min.js" charset="utf-8"></script>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.scrollTo.js" charset="utf-8"></script>
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}js/tipsy-0.1.7/src/stylesheets/tipsy.css" type="text/css" /> 
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tipsy-0.1.7/src/javascripts/jquery.tipsy.js" charset="utf-8"></script>
    
    <style type="text/css" media="screen">
        html {
/*            background: transparent url({{ MEDIA_URL }}image/grid.png) repeat-y center top;*/
        }
        
        body {
        }

		#headerwrapper {
			-moz-box-shadow: #333 0px 2px 2px;
			-webkit-box-shadow: #333 0px 2px 2px;
			box-shadow: #333 0px 2px 2px;
		}
        
        #taglinewrapper {
            display: none;
        }
        
        #title_wrapper {
            background: #262a33 url({{ MEDIA_URL }}image/grain_overlay.png) repeat;
            height: 245px;
        }
        
        #title {
			position: relative;
            color: #ddd;
			overflow: hidden;
        }
        
        #title h2 {
            color: #fff;
            font-size: 14px;
            padding-top: 10.5px;
        }
        
        #title h1 {
            color: #fff;
        }
        
        #title h3 {
            color: #fff;
            font-size: 14px;
        }
        
        #title form {
            margin-top: -31.5px;
            text-align: right;
            width: 620px;
        }

		#title #game_mapdot {
			float: left;
			width: 70px;
			height: 105px;
			background: url({{ MEDIA_URL }}image/dots/dot-{{ '12345'|random }}.png);
		}
		
		#title #game_info {
			float: left;
		}
        
        #game_image {
			float: right;
            width: 285px;
            height: 300px;
            padding: 8px;            
            background-image: url({{ MEDIA_URL }}image/games_photoframe.png);
            background-repeat: no-repeat;
        }
        
        .image_carrousel {
            width: 255px;
            height: 230px;
        }
        
        .image_carrousel img {
			margin: 12px 12px 0;
			width: 245px;
            height: 220px;
        }

		#more_onflickr {
			margin: 0 25px 0 0;
			width: 150px;
			height: 50px;
			float: right;
		}
        
        #game_wrapper {
			clear: both;
            background-color: #b7d1d0;
            padding: 0 0 21px;
            margin-top: -140px;
            background-repeat: repeat;
            background-image: url({{ MEDIA_URL }}image/grain_overlay.png);
            overflow: hidden;
        }
        
        #game {
            padding-top: 20px;
            overflow: hidden;
        }
        
        #description_background {
            width: 630px;             
            background-color: white;
            background-repeat: repeat;
            background-image: url({{ MEDIA_URL }}image/bg_airmail.png);
            
            padding: 10px;
            
            margin-right: 0;
        }
        
        #description {
            background-color: white;
			padding: 10px 10px 10px 10px;
            overflow: hidden;
/*            background: white url({{ MEDIA_URL }}image/buttons_badge.png) no-repeat left bottom;*/
        }
        
        #description .description {
            width: 360px;
            padding-right: 10px;
            border-right: 1px solid #ddd;    
            margin: 0;        
        }
        
        #description .description:first-letter {
        	font-family: "proxima-nova-1", "proxima-nova-2", Arial;
        	text-transform: uppercase;
        	font-weight: 900;
            font-size: 44px;
            display: inline-block;
            margin: 10px 10px 0 0;
            float: left;
        }
        
        #blog_posts {
			font-size: 12px;
			line-height: 18px;
            font-weight: bold;
            float: right;
            width: 220px;
			margin-right: 10px;
        }
        
        #blog_posts p {
            margin: 0;
        }
        
        #blog_posts ol {
            margin: 0 0 0 20px;
            color: #bbb;
        }
        
        #blog_posts li {
            list-style-type: disc;            
        }
        
        #blog_posts a {
            color: #f30;
            font-weight: normal;
            text-decoration: none;
        }
        
        #blog_posts a:hover {
            text-decoration: underline;
        }        
        
        .subgame {
            float: left;
            width: 460px;
            margin: 40px 0 0 0;
        }
        
        .space {
            margin-right: 20px;
        }
        
        .subgame IMG {
            float: left;
            
            width: 120px;
            height: 90px;
            
            margin: 0 10px 10px 0;
            padding-bottom: 5px;
            background: transparent url({{ MEDIA_URL }}image/logo_shadow.png) no-repeat center bottom;
        }
        
        .subgame H3 {
            color: white;
            text-shadow: 0 1px 0px #000;
        }
        
        .subgame p.meta {
            font-weight: bold;
        }
        
        .subgame .link A {
            color: #f30;
            text-decoration: none;
        }
        
        .subgame .link A:visited {
            color: #f30;
        }
        
        .subgame .link A:hover {
            text-decoration: underline;
        }

		#festival p, #maker p {
			padding-right: 20px;
		}
        
        #interest_wrapper {
            border-bottom: 5px solid #ddd;
            overflow: hidden;
            width: 100%;
            background: white;
        }
        
        #interest {
            overflow: hidden;
            width: 918px; /* to account for padding & border */
            padding: 0 10px;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        
        #interest H2, #interest H3, #interest span {
            line-height: 42px;
            color: #262a33;
            float: left;
            margin: 0;
        }
        
        #interest H2 {
            margin: 0 20px 0 0;
        }
        
        #interest H3 {
            margin: 0 10px 0 0;
        }
        
        #interest span {
            color: #bbb;
            font-size: 12px;
        }
        
        #interest A {
            color: #f30;
        }
        
        #participants_wrapper {
            background-color: #fff;
        }
        
        #participants {
            overflow: hidden;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            width: 938px;
			margin-bottom: -1px;
			background: #fff url({{ MEDIA_URL}}image/horizontal-line-participants-game.png);
        }
        
        .participant {
            overflow: hidden;
            width: 167px;
            height: 59px;
            margin-bottom: 1px;
            
            padding: 10px;
            
            float: left;
            
            border-right: 1px solid #ddd;
            font-size: 12px;
        }
        
        .last {
            border-right: 0;
            width: 166px;
        }
        
        .participant a {
            text-decoration: none;            
        }
        

        .participant .rank {
            color: white;
            background: transparent url({{ MEDIA_URL }}image/ranking_bar_bg.png) no-repeat center center;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            font-size: 10px;
            padding: 0 2px;
            line-height: 21px;
            float: left;
            margin: -1px 0 0 -50px;
        }
        
        .participant img {
            width: 40px;
            height: 40px;
            float: left;
            margin: 10px 0 0 10px;
        }
        
        .participant span {
            font-weight: bold;
            color: #666;
            float: left;
            margin: 10px 0 0 10px;
        }

        .participant a:hover span {
            color: #f30;
        }

		#record_wrapper {
			overflow: hidden;
			border-top: 5px solid #ddd;
			border-bottom: 1px solid #ddd;
			background: #fff url({{ MEDIA_URL }}image/dot_grid.png) repeat;
		}

		#music {
			position: relative;
			z-index: 2;
			background: transparent url({{ MEDIA_URL }}image/bandjesland_tapebg.png) no-repeat center top;
		}
		
		.tabcontent {
			position: relative;
			margin: 31px 0 20px;
		}
		
		.tabcontent h2 {
			color: #666;
			margin: 50px 10px -10px 10px;
		}
		
		.tabcontent .soundcloud {
			position: absolute;
			top: -80px;
			right: 80px;
		}
		
		/* CSS to make the tab hiding work. */
		.ui-tabs .ui-tabs-hide {
		     display: none;
		}
		
        .tabnav {
            padding: 110px 0 10px 370px;
			font: bold 16px "proxima-nova-1", "proxima-nova-2", Arial;
			text-transform: uppercase;
        }

		.tabnav a {
			color: #ff2200;
			text-decoration: none;
		}
        
        .tabnav .daytab {
		 	text-align: center;
            display: inline-block;
            padding: 3px 7px;
			margin: 0 5px;
        }

		.time {
			height: 20px;
			width: 840px;
			margin: 0 50px;
		}

		#vrijdag .time {
			background: transparent url({{ MEDIA_URL }}image/bandjesland_time_fri.png) no-repeat center top;
		}
		
		#zaterdag .time {
			background: transparent url({{ MEDIA_URL }}image/bandjesland_time_sat.png) no-repeat center top;
		}

		.player {
			width: 840px;
			height: 80px;
			margin: 0 50px 10px;
			border-top: 1px solid #ccc;
		}
        
        .specials {
			overflow: hidden;
            width: 930px;
            margin: auto;
        }

		.specials h3 {
			width: 920px;
			display: block;
			clear: both;
			padding-top: 20px;
			margin-left: 5px;
			border-bottom: 1px #ccc solid;
		}

		.special {
			float: left;
			color: #666;
			width: 300px;
			height: 40px;
			margin: 5px;
			overflow: hidden;
		}
		
		.special.odd {
			background-color: #f5f5f5;
		}
		
		.special.even {
			background-color: #ddd;
		}
		
		.special p.small {
			font-size: 11px;
		}
		
		.special p.timestamp {
			margin: -22px 0 0 75px;
			font: bold 14px "proxima-nova-1", "proxima-nova-2", Arial;
		}
		
		.special p.heartrate {
			float: right;
			font-size: 11px;
			text-decoration: none;
			margin: -27px 70px 0 0;
		}
		
		.heartrate a {
			color: #666;
			text-decoration: none;
		}
		
		.heartrate a:hover {
			color: #333;
			text-decoration: underline;
		}
		
		.special .heart {
			background: transparent url({{ MEDIA_URL }}image/bandjesland_like.png) no-repeat center 0;
			float: right;
			width: 30px;
			height: 30px;
			margin: -32px 35px 0 0;
			border: 0;
		}
		
		.special .heart:hover {
			background-position: center -100px;
		}
		
		.special .heart.active {
			background-position: center -100px;
		}
		
		.special .download {
			float: right;
			width: 30px;
			height: 30px;
			margin: -32px 5px 0px 0px;
			background: transparent url({{ MEDIA_URL }}image/bandjesland_download.png) no-repeat center 0;
		}
		
		.special a:hover .download {
			background-position: 0 -30px;
		}
		
		.ui-state-default {
			background-color: #f6e9d7;
		}
		
		.ui-tabs-selected {
			height: 27px;
			background: #ff3300 url({{ MEDIA_URL }}image/bandjesland_tab_arrow.png) no-repeat center bottom;
		}
		
		.ui-tabs-selected a {
			color: #fff;
		}
		
		.icons {
			float: left;
			margin: 5px;
			width: 30px;
			height: 30px;
		}
		
		.playpausebutton {
			background: url({{ MEDIA_URL }}image/bandjesland_play.png) no-repeat center 0;
		}
		
		.playpausebutton:hover {
			background-position: center -50px;
		}
		
		.playpausebutton:active, .playpausebutton.playing {
			background-position: center -100px;
		}
		
		.waveformicon {
			margin-left: 0;
			background: url({{ MEDIA_URL }}image/bandjesland_wave.png) no-repeat center 0;
		}
		
		.waveformicon:hover {
			background-position: center -50px;
		}
		
		.waveformicon:active, .waveformicon.active {
			background-position: center -100px;
		}
		
		.tapeleft {
			position: absolute;
			z-index: 1;
			background: transparent url({{ MEDIA_URL }}image/bandjesland_tapewheel.gif) no-repeat center center;
			width: 130px;
			height: 75px;
			margin-left: 134px;
		}
		
		.taperight {
			position: absolute;
			z-index: 1;
			background: transparent url({{ MEDIA_URL }}image/bandjesland_tapewheel.gif) no-repeat center center;
			width: 130px;
			height: 75px;
			margin-left: 675px;
		}
		
		#game_gogetgadget {
			position: absolute;
			width: 150px;
			height: 70px;
			top: 18px;
			left: 460px;
			background-image: url({{ MEDIA_URL }}image/goget_gadgetoo.png);
		}
		
    </style>
    
    <script type="text/javascript" charset="utf-8">
        var playerid = '{{ user.get_profile.id }}';
        var playername = '{{ user.get_profile.get_display_name }}';
        var playeravatar = '{{ user.get_profile.get_avatar_url }}';
        
        {% if vrijdag %}
            var vrijdagDuration = {{ vrijdag.duration }};
        {% endif %}
        
        {% if zaterdag %}
            var zaturdagDuration = {{ zaterdag.duration }};
        {% endif %}
        
        console.log('page entered for player', playerid, playername, playeravatar);
        
        /* Create lookup table for likers. */
        var likers = {}
        {% for special in specials %}
            likers['{{ special.id }}'] = {};
            
            {% for liker in special.get_likers %}
                likers['{{ special.id }}']['{{ liker.id }}'] = {};
                likers['{{ special.id }}']['{{ liker.id }}']['playername'] = '{{ liker.get_display_name }}';
                likers['{{ special.id }}']['{{ liker.id }}']['playeravatar'] = '{{ liker.get_avatar_url }}';
            {% endfor %}
        {% endfor %}
        
        function playerLikesSpecial(playerid, specialid) {
            if (likers[specialid]) {
                return playerid in likers[specialid];
            }
            return false;
        }
        
    
        $(document).ready(function() {
            $('#game_image').css('-webkit-transform', 'rotate(-5deg)');
            $('#game_image').css('-moz-transform', 'rotate(-5deg)');
            
            
            $("#music").tabs({
                show: function(event, ui) {
                    $('.sc-player.playing a.sc-pause').click();
                }
            });
            
            {% if user.is_authenticated %}
                $('#interest_form').ajaxForm({
                    dataType: 'json',
                    success: function(data) {
                        $('#interest_form').html('<button class="door"><p class="door">Je bent erbij!</p></button>');
                    }
                });
            {% endif %}
            
            $('.notparticipatelink').click(function() {
                $.post('/games/{{ game.slug }}/interested/', 
                    {'action': 'remove'}, function(data) {
                        window.location.reload();
                    });
                    
                return false;
            });
            
            $('#codeform').ajaxForm({
                dataType: 'json',
                success: function(data) {
                    $('.resultinfo').slideDown();
                    
                    $('#codeinput').val('');
                }
            });
            
            {% if game.photos.all|length %}
                $('#image_carrousel').crossSlide({
                    sleep: 2,
                    fade: 1
                }, [
                    {% for photo in game.photos.all %}
                        {src: '{{ photo.photo.url }}'},
                    {% endfor %}
                
                    {% if game.photos.all|length == 1 %}
                        {src: '{{ game.photos.all.0.photo.url }}'},
                    {% endif %}
                ]);
            {% endif %}
            
            $('.tape').click(function () {
                var positions = $(this).parent().attr('rel').split(' ');
                var width = $('.sc-time-span').width();
                
                for (var pos in positions) {
                    var leftPixels = parseFloat(positions[pos]) / 100.0 * width;

                    $('.sc-time-span').append('<div style="background-color: #000; top: 0px; height: 80px; width: 1px; position: absolute; left: ' + leftPixels + 'px;">');
                }
            });
            
            $('#jPlayer').jPlayer({
                swfPath: '/static/js/jQuery.jPlayer.1.2.0/'
            });
            
            $('.playpausebutton').click(function() {
                var id = this.id.split('_')[1];
                var mp3URL = $(this).attr('rel');
                
                $('.playpausebutton').removeClass('playing');
                
                if (mp3URL) {
                    $('#jPlayer').jPlayer('setFile', mp3URL).jPlayer('play');

                    $('#playpause_' + id).addClass('playing');
                }
                
                $('#jPlayer').jPlayer("onSoundComplete", function() {
                    // $('#specialplayer_' + id).jPlayer('stop');
                    $('#playpause_' + id).removeClass('playing');
                });
            });
            
            $('.heart').click(function() {
                var specialid = $(this).parent().attr('id').split('_')[1];
                
                console.log('clicked heart for special', specialid);
                
                if (playerid) {
                    // Player logged in
                    
                    // Send Ajax call
                    $.post('/bandjesland/like/toggle/', {
                        'playerid': playerid,
                        'specialid': specialid
                    }, function(data, textStatus, xhr) {
                        var specialid = data['specialid'];
                        var oldHeartrate = parseInt($('#heartrate_' + specialid + ' A').html());
                        
                        var newHeartrate = oldHeartrate;
                        if (data['action']=='added') {
                            newHeartrate += 1;
                        } else {
                            newHeartrate -= 1;
                            
                            delete likers[specialid][playerid];
                        }
                        
                        $('#heartrate_' + specialid + ' A').html(newHeartrate);
                    });
                    
                    // Toggle heart
                    $('#special_' + specialid + ' .heart').toggleClass('active');
                    
                    // Also add player to local likers array
                    likers[specialid][playerid] = {'playeravatar': playeravatar, 'playername': playername };
                } else {
                    window.location.href = '/login/?next=/games/bandjesland/';
                }
            });
            
            $('.heart').each(function(index, el) {
                var specialid = el.id.split('_')[1];
                
                if (playerLikesSpecial(playerid, specialid)) {
                    $(el).addClass('active');
                }
            });
            
            function getTooltip(specialid) {
                return function() { 
                    var returnValue = '<div style="overflow: auto;">';
                    
                    var likerFound = false;
                    
                    if (likers[specialid]) {
                        for (var key in likers[specialid]) {
                            likerFound = true;
                            var liker = likers[specialid][key];
                            
                            returnValue += '<div style="float: left;"><img src="' + liker['playeravatar'] + '" style="margin: 1em 1em 0 1em;"><br><span>' + liker['playername'] + '</span></div>';
                        }
                    }
                    
                    if (!likerFound) {
                        returnValue += 'Druk op het hartje!';
                    }
                    
                    return returnValue + '</div>';
                };
            }
            
            $('.heartrate span').each(function(index, el) {
                $(el).tipsy({
                    html: true,
                    title: getTooltip($(el).attr('id').split('_')[2]),
                    delayOut: 2000,
                    // fade: true
                });
            });
            
            $('.waveformicon').click(function() {
                var identparts = $(this).attr('id').split('_');
                var specialid = identparts[2];
                var day = identparts[1];
                
                $('.waveformicon').removeClass('active');
                $(this).addClass('active');
                
                $.getJSON('/bandjesland/occurrences/', {
                    'sessionlabel': day,
                    'specialid': specialid
                }, function(data, textStatus) {
                    var day = data['label'];
                    
                    var duration = null;
                    if (day == 'vrijdag') {
                        duration = vrijdagDuration;
                    } else if (day == 'zaterdag') {
                        duration = zaturdagDuration;
                    }
                    
                    var width = 780;
                    
                    $('.occurrence-indicator').remove();
                    
                    for (var index in data['offsets']) {
                        var offset = data['offsets'][index];
                        
                        var left = Math.round(offset / duration * width);
                        
                        console.log('calculating offset', offset, 'duration', duration, 'left', left);
                        
                        if (left > width) {
                            // TODO workaround, figure out why left is larger than width
                            left = width;
                        }
                        
                        var indicator = '<div style="position: absolute; border-right: 1px solid #262A33; width: ' + left + 'px; top: 0px; height: 80px; z-index: 5;" class="occurrence-indicator"></div>';
                        $('#' + day + ' .sc-time-span').append(indicator);
                    }
                    
                    $.scrollTo('#music');
                });
            });
            
        });
    </script>
    
{% endblock %}


{% block content %}
<div id="title_wrapper">
    <div id="title" class="mainblock">
		<div id="game_mapdot">
        </div>
		<div id="game_info">
        	<h2>Game</h2>
        	<h1>{{ game.name }}</h1>
        	<h3>door {{ game.maker }} voor {{ game.festival }}</h3>
		</div>
		<a href="#music" title=""><div id="game_gogetgadget"></div></a>
		<div id="game_image">
			<div id="image_carrousel" class="image_carrousel">
				<img src="{{ MEDIA_URL }}image/empty_polaroid.png" />
			</div>
			<a href="http://www.flickr.com/groups/playpilots/" alt="Meer foto's op Flickr"><img src="{{ MEDIA_URL }}image/games_photomore.png" alt="Meer foto's op Flickr" id="more_onflickr"/></a>
		</div>
    </div>
</div>

<div id="game_wrapper">
    <div id="game" class="mainblock">
        <div id="description_background">
            <div id="description">
                <div id="blog_posts" style="position:relative;z-index:5;">
                    <p>Blog posts</p>
                    <ol>
                        {% for item in feed %}
                            <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
				<p class="description" style="float:left;">{{ game.description|safe }}</p>
            </div>
        </div>
        
        <div id="festival" class="subgame space">
            <img src="{{ MEDIA_URL }}/{{game.festival.logo}}" alt=" ">
            
            <h3>{{ game.festival.name }}</h3>
            
            <p class="meta">{{ game.start|date:"j b Y"}}{% if game.end %} - {{ game.end|date:"j b Y"}}{% endif %}, {{ game.festival.location }}</p>
            <p>{{ game.festival.description }}</p>
            
            <p class="link"><a href="{{ game.festival.link }}">{{ game.festival.link|slice:"7:" }}</a></p>
        </div>
        
        <div id="maker" class="subgame">
            <img src="{{ MEDIA_URL }}/{{game.maker.logo}}" alt="">
            
            <h3>{{ game.maker.name }}</h3>
            
            <p>{{ game.maker.description }}</p>
            
            <p class="link"><a href="{{ game.maker.link }}">{{ game.maker.link|slice:"7:" }}</a></p>
        </div>
    </div>
</div>

<div id="record_wrapper">
	<div class="mainblock">
		<div class="tapeleft"></div>
		<div class="taperight"></div>
    	<div id="music">
			<ul class="tabnav">
				<li class="daytab"><a href="#vrijdag"><span>Vrijdag</span></a></li>
				<li class="daytab"><a href="#zaterdag"><span>Zaterdag</span></a></li>
			</ul>
		
			<div id="vrijdag" class="tabcontent">
				<a href="http://snd.sc/eVeVnN" class="soundcloud" title="Luister naar deze opname op Soundcloud"><img src="{{ MEDIA_URL }}image/bandjesland_soundcloud.png" width="55px" height="35px" /></a>
		    	<!-- Player is skinned by the soundcloud player bandjesland skin. -->
				<div class="time"></div>
            	<div class="player">
					<a href="http://soundcloud.com/playpilots/bandjesland-sessie-le-guess-who-vrijdag-26-november-2010" class="sc-player" id="player_vrijdag">My new dub track</a>
				</div>
            
            	<h2>Alle {{ vrijdag.get_specials_for_session|length }} opgenomen samples van vrijdag:</h2>
            
                <div id="jPlayer"></div>
            
            	<div class="specials">
                    <ul>
                        {% for special in vrijdag.get_specials_for_session %}
                            {% ifchanged %}<h3>{{ special.created|date:"H:00" }}</h3>{% endifchanged %}

                            {% if special.mp3 %}
                                <li class="special {% cycle 'odd' 'even' %}" id="special_{{ special.id }}">
                                	<div class="icons playpausebutton" id="playpause_{{ special.id }}" {% if special.mp3 %}rel="{{ special.mp3.url }}"{% endif %}></div>
                                	<div class="icons waveformicon" id="waveform_vrijdag_{{ special.id }}"></div>
                                	<p class="small">opgenomen om</p>
                                	<p class="timestamp">{{ special.created|date:"H:i:s" }}</p>
                                	<p class="heartrate {{ special.is_leuk|yesno:"leuk," }} {{ special.is_gaaf|yesno:"gaaf," }}" id="heartrate_{{ special.id }}"><span class="" title="test tooltip" id="heartrate_link_{{ special.id }}">{{ special.get_like_count }}</span></p>
                                	<button type="image" class="heart" id="heart_{{ special.id }}"></button>
    								<a href="{{ special.mp3.url }}" title="Download sample"><div class="download"></div></a>
                            	</li>
                            {% endif %}
                        {% endfor %}
                	</ul>
            	</div>
			</div>
		
			<div id="zaterdag" class="tabcontent">
				<a href="http://snd.sc/hwhUnO" class="soundcloud" title="Luister naar deze opname op Soundcloud"><img src="{{ MEDIA_URL }}image/bandjesland_soundcloud.png" width="55px" height="35px" /></a>
            	<div class="time"></div>
            	<div class="player">
					<a href="http://soundcloud.com/playpilots/bandjesland-sessie-le-guess-who-zaterdag-27-november-2010" class="sc-player">My new dub track</a>
				</div>
			
				<h2>Alle {{ zaterdag.get_specials_for_session|length }} opgenomen samples van zaterdag:</h2>
            
            	<div class="specials">
               		<ul>
                        {% for special in zaterdag.get_specials_for_session %}
                            {% ifchanged %}<h3>{{ special.created|date:"H:00" }}</h3>{% endifchanged %}

                            {% if special.mp3 %}
                                <li class="special {% cycle 'odd' 'even' %}" id="special_{{ special.id }}">
                                	<div class="icons playpausebutton" title="Afspelen" id="playpause_{{ special.id }}" {% if special.mp3 %}rel="{{ special.mp3.url }}"{% endif %}></div>
                                	<div class="icons waveformicon" title="Markeren in speler" id="waveform_zaterdag_{{ special.id }}"></div>
                                	<p class="small">opgenomen om</p>
                                	<p class="timestamp">{{ special.created|date:"H:i:s" }}</p>
                                	<p class="heartrate {{ special.is_leuk|yesno:"leuk," }} {{ special.is_gaaf|yesno:"gaaf," }}" id="heartrate_{{ special.id }}"><span href="#" class="" title="test tooltip" id="heartrate_link_{{ special.id }}">{{ special.get_like_count }}</span></p>
                                	<button type="image" class="heart" id="heart_{{ special.id }}"></button>
    								<a href="{{ special.mp3.url }}" title="Download sample"><div class="download"></div></a>
                            	</li>
                            {% endif %}
                        {% endfor %}
                	</ul>
           		</div>
			
			</div>
		
    	</div>
	</div>
</div>

<div id="interest_wrapper">
    <div id="interest" class="mainblock">
        <h2>Wie zijn erbij?</h2> 

		{% if not user.get_profile in game.interested.all %}
            <!-- TODO handje op button verschijnt niet -->
            <form method="GET" action="/games/{{ game.slug }}/interested/" id="interest_form">
                <button class="door"><p class="door">Ik ben erbij!</p></button>
            </form>
        {% endif %}        

        {% if user.get_profile in game.interested.all %}
            <h3 id="jekomt">Je bent er bij!</h3> <span id="tochniet">[<a href="#" class="notparticipatelink">toch niet?</a>]</span>
        {% endif %}
    </div>
</div>

<div id="participants_wrapper">
    <div id="participants" class="mainblock">
        
        {% for player in game.interested.all %}
            <div class="participant {% if forloop.counter|divisibleby:"5" %}last{% endif %}">
                <a href="/players/{{ player.id }}/">
                    <img src="{{ player.get_avatar_url }}" alt="">
                    <div class="rank">{{ player.get_rank|stringformat:".3d" }}</div>
                    <span title="{{ player.get_display_name }}">{{ player.get_display_name|slice:":12" }}{% if player.get_display_name|length > 12 %}&hellip;{% endif %}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
