{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>STAGING &bull; {{ game.name }} door {{ game.maker.name}} voor {{ game.festival.name }} &bull; PLAY Pilots</title>
    
    <style type="text/css" media="screen">
        html {
/*            background: transparent url({{ MEDIA_URL }}image/grid.png) repeat-y center top;*/
        }
        
        body {
        }

		#headerwrapper {
			-webkit-box-shadow: #333 0px 2px 2px;
			-moz-box-shadow: #333 0px 2px 2px;
			box-shadow: #333 0px 2px 2px;
		}
        
        #taglinewrapper {
            display: none;
        }
        
        #title_wrapper {
            background: #262a33 url({{ MEDIA_URL }}image/grain_overlay.png) repeat;
        }
        
        #title {
			position: relative;
            color: #ddd;
			overflow: hidden;
        }
        
        #title h2 {
            color: #fff;
            font-size: 14px;
            padding-top: 10.5px;
        }
        
        #title h1 {
            color: #fff;
        }
        
        #title h3 {
            color: #fff;
            font-size: 14px;
        }
        
        #title form {
            margin-top: -31.5px;
            text-align: right;
            width: 620px;
        }

		#title #game_mapdot {
			float: left;
			width: 70px;
			height: 105px;
			background: url({{ MEDIA_URL }}image/dots/dot-{{ '12345'|random }}.png);
		}
		
		#title #game_info {
			float: left;
		}
		
		#game_gogetgadget {
			position: absolute;
			width: 150px;
			height: 65px;
			top: 20px;
			left: 420px;
			background-image: url({{ MEDIA_URL }}image/goget_gadget.png);
		}
        
        #game_image {
			float: right;
            width: 304px;
            height: 230px;
            padding: 8px;
            
            background-image: url({{ MEDIA_URL }}image/festivalpic_frame.png);
            background-repeat: no-repeat;
        }
        
        #game_image img {
            max-height: 214px;
            max-width: 288px;
        }
        
        #game_wrapper {
			clear: both;
            background-color: #b7d1d0;
            padding: 0 0 21px;
            margin-top: -140px;
            background-repeat: repeat;
            background-image: url({{ MEDIA_URL }}image/grain_overlay.png);
            overflow: hidden;
        }
        
        #game {
            padding-top: 20px;
            overflow: hidden;
        }
        
        #description_background {
            width: 630px;             
            background-color: white;
            background-repeat: repeat;
            background-image: url({{ MEDIA_URL }}image/bg_airmail.png);
            
            padding: 10px;
            
            margin-right: 0;
        }
        
        #description {
            background-color: white;
			padding: 10px 10px 10px 10px;
            overflow: hidden;
/*            background: white url({{ MEDIA_URL }}image/buttons_badge.png) no-repeat left bottom;*/
        }
        
        #description .description {
            width: 360px;
            padding-right: 10px;
            border-right: 1px solid #ddd;    
            margin: 0;        
        }
        
        #description .description:first-letter {
        	font-family: "proxima-nova-1", "proxima-nova-2", Arial;
        	text-transform: uppercase;
        	font-weight: 900;
            font-size: 44px;
            display: inline-block;
            margin: 10px 10px 0 0;
            float: left;
        }
        
        #blog_posts {
			font-size: 12px;
			line-height: 18px;
            font-weight: bold;
            float: right;
            width: 220px;
			margin-right: 10px;
        }
        
        #blog_posts p {
            margin: 0;
        }
        
        #blog_posts ol {
            margin: 0 0 0 20px;
            color: #bbb;
        }
        
        #blog_posts li {
            list-style-type: disc;            
        }
        
        #blog_posts a {
            color: #f30;
            font-weight: normal;
            text-decoration: none;
        }
        
        #blog_posts a:hover {
            text-decoration: underline;
        }        
        
        .subgame {
            float: left;
            width: 460px;
            margin: 40px 0 0 0;
        }
        
        .space {
            margin-right: 20px;
        }
        
        .subgame IMG {
            float: left;
            
            width: 120px;
            height: 90px;
            
            margin: 0 10px 10px 0;
            padding-bottom: 5px;
            background: transparent url({{ MEDIA_URL }}image/logo_shadow.png) no-repeat center bottom;
        }
        
        .subgame H3 {
            color: white;
            text-shadow: 0 1px 0px #000;
        }
        
        .subgame p.meta {
            font-weight: bold;
        }
        
        .subgame .link A {
            color: #f30;
            text-decoration: none;
        }
        
        .subgame .link A:visited {
            color: #f30;
        }
        
        .subgame .link A:hover {
            text-decoration: underline;
        }

		#festival p, #maker p {
			padding-right: 20px;
		}
        
        #interest_wrapper {
			border-top: 5px solid #ddd;
            border-bottom: 2px solid #ddd;
            overflow: hidden;
            width: 100%;
            background: white;
        }
        
        #interest {
            overflow: hidden;
            width: 918px; /* to account for padding & border */
            padding: 0 10px;
            
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        
        #interest H2, #interest H3, #interest span {
            line-height: 42px;
            color: #262a33;
            float: left;
            margin: 0;
        }
        
        #interest H2 {
            margin: 0 20px 0 0;
        }
        
        #interest H3 {
            margin: 0 10px 0 0;
        }
        
        #interest span {
            color: #bbb;
            font-size: 12px;
        }
        
        #interest A {
            color: #f30;
        }
        
        #participants_wrapper {
            background-color: #fff;
        }
        
        #participants {
            overflow: hidden;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            width: 938px;
			margin-bottom: -1px;
			background: #fff url({{ MEDIA_URL}}image/horizontal-line-participants-game.png);
        }
        
        .participant {
            overflow: hidden;
            width: 167px;
            height: 59px;
            margin-bottom: 1px;
            
            padding: 10px;
            
            float: left;
            
            border-right: 1px solid #ddd;
            font-size: 12px;
        }
        
        .last {
            border-right: 0;
            width: 166px;
        }
        
        .participant a {
            text-decoration: none;            
        }
        

        .participant .rank {
            color: white;
            background: transparent url({{ MEDIA_URL }}image/ranking_bar_bg.png) no-repeat center center;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
			border-radius: 2px;
            font-size: 10px;
            padding: 0 2px;
            line-height: 21px;
            float: left;
            margin: -1px 0 0 -50px;
        }
        
        .participant img {
            width: 40px;
            height: 40px;
            float: left;
            margin: 10px 0 0 10px;
        }
        
        .participant span {
            font-weight: bold;
            color: #666;
            float: left;
            margin: 10px 0 0 10px;
        }

        .participant a:hover span {
            color: #f30;
        }

		#gamecode_wrapper {
			overflow: hidden;
			background: #fff url({{ MEDIA_URL }}image/dot_grid.png) repeat;
			border-top: 5px solid #ccc;
			padding-bottom: 22px;
		}
		
		#gamecode {
			overflow: hidden;
			margin: 0 auto;
			background: transparent url({{ MEDIA_URL }}image/code_paper.png) no-repeat top right;
		}
		
		#gamecode h2, #gameresults h3 {
			color: #262a33;
			margin-top: 22px;
		}
		
		#gamecode p {
		    width: 540px;
		}
		
		#form_container {
			width: 370px;
			position: relative;
			overflow: hidden;
			margin: 0 auto 0 auto;
        }		
        
		#form_container p {
			clear: both;
			float: left;
			overflow: hidden;
			font-size: 12px;
		}
		
		.extrainfo {
			width: 345px;
			color: #999;
			margin: 5px 0;
		}
		
		.errorinfo {
			width: 345px;
			font-weight: bold;
			color: #e11600;
			margin: 5px 0;
		}
		
		.logininfo {
			float: left;
			width: 345px;
			margin: 11px 0 0;
			background-color: #f6e9d7;
			border: 1px solid #ddd;
			padding: 10px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
		
		.resultinfo {
			float: left;
			width: 345px;
			margin: 11px 0 0;
			background-color: #f6e9d7;
			border: 1px solid #ddd;
			padding: 10px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			
			display: none;
		}
		
		.resultinfo strong {
			color: #ff3300;
			font-size: 18px;
		}
		
		.resultinfo .again {
		    font-size: 12px;
		}
		
		.resultinfo a, .logininfo a {
		    color: #f30;
		    text-decoration: underline;
		}
		
		.resultinfo a:hover, .logininfo a:hover {
		    text-decoration: none;
		}
				
		#codeinput {
			position: relative;
			float: left;
			font-size: 25px;
			width: 200px;
			background-color: #fff;
			border: none;
			padding: 5px 8px;
			color: #666;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-bottomleft: 5px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			-moz-box-shadow: inset 0 2px 4px #ccc;
			-webkit-box-shadow: inset 0px 2px 4px #ccc;
			box-shadow: inset 0 2px 4px #ccc;
		}
		
		#codesubmit {
			position: relative;
			float: left;
			background-color: #ff3300;
			width: 150px;
			border: 0px;
			padding: 5px 15px;
			font-size: 25px;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			text-shadow: #333 0 1px 0;
			-moz-border-radius-topright: 5px;
			-moz-border-radius-bottomright: 5px;
			-webkit-border-top-right-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			
		}
		
		#codesubmit:hover {
			background-color: #e11600;
		}
		
		#codesubmit:active {
			background-color: #333;
			color: #fff;
		}
		
		.ui-tabs .ui-tabs-hide {
		     display: none;
		}
		
		#rank {
			margin: 0 auto;
		}
		
		#gameresults {
			margin-top: 22px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			-webkit-box-shadow: #ddd 0px 1px 2px;
			-moz-box-shadow: #ddd 0px 1px 2px;
			box-shadow: #ddd 0px 1px 2px;
		}
		
		#gameresults ul {
			font-size: 17px;
			overflow: hidden;
			background-color: #e0f0ef;
			padding-top: 5px;
			padding-left: 5px;
		}
		
		#gameresults ul a {
			color: #fff;
			text-decoration: none;
		}
		
		#gameresults ul li {
			text-transform: uppercase;
			padding: 8px;
			display: inline;
			float: left;
			background-color: #ff3300;
			margin-right: 3px;
		}
		
		#gameresults .ui-tabs-selected {
			background-color: #fff;
			-webkit-box-shadow: #999 0px 2px 4px;
			-moz-box-shadow: #999 0px 2px 4px;
			box-shadow: #999 0px 2px 4px;
		}
		
		#gameresults .ui-tabs-selected a {
			font-weight: bold;
			color: #ff3300;
		}
		
		#gameresults #firstrow th {
			text-align: left;
			font-size: 10px;
			color: #999;
			border-bottom: 1px solid #999;
		}
		
		#gameresults table {
		    width: 600px;
		    border-collapse: separate;
		    border-spacing: 10px;            
		}
		
		#gameresults .tabcontent {
			padding: 10px;
			border-bottom: 1px solid #f5f5f5;
			background-color: #fff;
		}
		
		#gameresults .tabcontent table a {
			color: #fff;
			text-decoration: none;
		}
		
		.player td.rank, .player td.time, .player td.info {
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			background: transparent url({{ MEDIA_URL }}image/ranking_bar_bg_light.png) repeat-x 50% 50%;
			vertical-align: middle;
			font-size: 18px;
			line-height: 18px;
			margin: 4px 0 0;
			padding: 0;
			color: #f5f5f5;
		}
		
		
		.player td img {
			float: left;
		}

		.player {
			text-transform: uppercase;
			height: 30px;
		}
		
		td.rank {
		    width: 50px;
		    text-align: center;
		}
		
		td.color {
		    width: 30px;
		    text-align: center;
		}
		
		td.time {
			width: 70px;
		    text-align: center;
		}

		td.info img {
			float: left;
		    width: 30px;
		    height: 30px;
		}

		td.info span, td.info a {
			float: left;
			margin-top: 6px;
			margin-left: 10px;
			width: 320px;
		}
		
		td.info img.jijtag {
			float: right;
			width: 50px;
			height: 30px;
		}
		
		.racewrapper {
			padding-top: 10px;
			padding-bottom: 10px;
			margin: 0 auto;
			width: 650px;
		}
		
		#races h3 {
			border-bottom: 1px #ccc solid;
			width: 635px;
		}
		
		#races h3 span {
			padding-left: 5px;
			color: #999;
		}
		
		#races .video {
			float: left;
			margin-top: 10px;
			width: 147px;
			height: 110px;
		}
		
		#races table {
		    width: 500px;
		    border-collapse: separate;
		    border-spacing: 10px;
		}
		
		#races td.info span {
			float: left;
			margin-top: 6px;
			margin-left: 10px;
			width: 200px;
		}
		
		.player.blue td.rank, .player.blue td.info, .player.blue td.time {
			background: transparent url({{ MEDIA_URL }}image/ranking_bar_bg_blue.png) repeat-x 50% 50%;
		}
		
		.player.purple td.rank, .player.purple td.info, .player.purple td.time {
			background: transparent url({{ MEDIA_URL }}image/ranking_bar_bg_purple.png) repeat-x 50% 50%;
		}
		
		.player.orange td.rank, .player.orange td.info, .player.orange td.time {
			background: transparent url({{ MEDIA_URL }}image/ranking_bar_bg_orange.png) repeat-x 50% 50%;
		}
		
		.info a span {
		}
		
		.info a:hover span {
			text-decoration: underline;
		}

    </style>
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
			$('#game_image').css('-webkit-transform', 'rotate(-5deg)');
			$('#game_image').css('-moz-transform', 'rotate(-5deg)');
			$("#gameresults").tabs();
			
            {% if user.is_authenticated %}
                $('#interest_form').ajaxForm({
                    dataType: 'json',
                    success: function(data) {
                        $('#interest_form').html('<button class="door"><p class="door">Je bent erbij!</p></button>');
                    }
                });
            {% endif %}
            
            $('.notparticipatelink').click(function() {
                $.post('/games/{{ game.slug }}/interested/', 
                    {'action': 'remove'}, function(data) {
                        window.location.reload();
                    });
                    
                return false;
            });
            
            $('#codeform').ajaxForm({
                dataType: 'json',
                success: function(data) {
                    $('.resultinfo').slideDown();
                    
                    $('#codeinput').val('');
                }
            });
        });
	</script>
{% endblock %}


{% block content %}
<div id="title_wrapper">
    <div id="title" class="mainblock">
		<div id="game_mapdot">
        </div>
		<div id="game_info">
        	<h2>Game</h2>
        	<h1>{{ game.name }}</h1>
        	<h3>door {{ game.maker }} voor {{ game.festival }}</h3>
		</div>
		<a href="#gamecode" title=""><div id="game_gogetgadget">
        </div></a>
		<div id="game_image">
			<img src="{{ game.get_first_photo }}">
		</div>
    </div>
</div>

<div id="game_wrapper">
    <div id="game" class="mainblock">
        <div id="description_background">
            <div id="description">
                <div id="blog_posts" style="position:relative;z-index:5;">
                    <p>Blog posts</p>
                    <ol>
                        {% for item in feed %}
                            <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
				<p class="description" style="float:left;">{{ game.description }}</p>
            </div>
        </div>
        
        <div id="festival" class="subgame space">
            <img src="{{ MEDIA_URL }}/{{game.festival.logo}}" alt=" ">
            
            <h3>{{ game.festival.name }}</h3>
            
            <p class="meta">{{ game.start|date:"j b Y"}}, {{ game.festival.location }}</p>
            <p>{{ game.festival.description }}</p>
            
            <p class="link"><a href="{{ game.festival.link }}">{{ game.festival.link|slice:"7:" }}</a></p>
        </div>
        
        <div id="maker" class="subgame">
            <img src="{{ MEDIA_URL }}/{{game.maker.logo}}" alt="">
            
            <h3>{{ game.maker.name }}</h3>
            
            <p>{{ game.maker.description }}</p>
            
            <p class="link"><a href="{{ game.maker.link }}">{{ game.maker.link|slice:"7:" }}</a></p>
        </div>
    </div>
</div>

{% ifequal game.slug 'wip-n-kip' %}
<div id="gamecode_wrapper">
	<div id="gamecode" class="mainblock">
		<h2>Wip 'n' Kip gespeeld op Stekker Fest?</h2>
		<p>Vul hieronder de code in die op je handout staat en we koppelen je filmpje en je tijd aan je profiel.</p>
        <!-- <img src="{{ MEDIA_URL }}image/handout.png" alt="FourceLabs Wip 'n' Kip handout"> -->
		<div id="form_container">
		    {% if not user.is_authenticated %}
		      <div class="logininfo"><a href="/games/{{ game.slug }}/login/">Meld je aan</a> om je racegegevens te claimen.</div>
		    {% else %}
		        <form id="codeform" name="codeform" action="/kipwip/code/" method="POST">
    				<input type="text" maxlength="8" placeholder="Jouw code" name="codeinput" id="codeinput">
    				<input type="submit" id="codesubmit" value="Claimen">
    			</form>
    			
    			<div class="resultinfo">
    				<strong>Bedankt!</strong> Je profiel is nu gekoppeld aan je tijd en filmpje. <span class="again">(<a href="javascript:$('.resultinfo').slideUp();$('#codeinput').focus();">Nog een code invoeren?</a>)</span>
    			</div>
		    {% endif %}
    		
			<!--
			<p class="errorinfo">Hmm&hellip; Die code lijkt niet te kloppen. Probeer het nog eens. Hint: een code bestaat uit een combinatie van acht kleine letters en cijfers.</p>
			-->
            <!-- Extra info is niet nodig, laat maar weg. -Kars -->
            <!-- <p class="extrainfo">Meerdere codes? Nog een keer invullen...</p> -->
			
		</div>
    </div>
	<div id="gameresults" class="mainblock">
		<ul class="tabnav">
			<li><a href="#tijden"><span>Tijden</span></a></li>
			<li><a href="#races"><span>Races</span></a></li>
		</ul>
		<div id="tijden" class="tabcontent">			
			<table id="rank">
				<tr id="firstrow">
					<th>Positie</th>
					<th>Speler</th>
					<th>Tijd</th>
				</tr>
				
				{% for rider in riders %}
				    <tr class="player" id="#{{ rider.id }}">
    					<td class="rank">{{ forloop.counter }}</td>
    					<td class="info">
    					    {% if rider.get_player %}
    					        <a href="{{ rider.get_player.get_absolute_url }}"><img src="{{ rider.get_player.get_avatar_url }}" alt="" /></a>
    					    {% else %}
    					        <img src="{{ MEDIA_URL }}image/unknown_avatar.png" alt="" />
    					    {% endif %}
    						
    						
    						{% if rider.get_player %}
    						    <a href="{{ rider.get_player.get_absolute_url }}" class="username">{{ rider.name }}</a>
    						{% else %}
    						    <span class="username">{{ rider.name }}</span>
    						{% endif %}
    					</td>
    					<td class="time">{{ rider.get_time }}</td>
    				</tr>
				{% endfor %}
				
	        </table>
		</div>
		<div id="races" class="tabcontent">
			
			{% for race in races %}
    			<div class="racewrapper">
    				<h3>Race {{ race.raceid }} <span>({{ race.get_time_of_day }})</span></h3>
    				<div class="video">
    					<iframe src="http://player.vimeo.com/video/{{ race.movie_vimeo_code }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ff3300" width="147" height="110" frameborder="0"></iframe>
    				</div>
    				<table id="race">
    				    {% for rider in race.get_riders %}
    				        <tr class="player {{ rider.get_color_class }}">
        						<td class="color"><img src="{{ MEDIA_URL }}image/wipnkip_{{ rider.get_color_class }}.png" alt="" /></td>
        						<td class="rank">{{ rider.position }}</td>
        						<td class="info">
        							{% if rider.get_player %}
            					        <a href="{{ rider.get_player.get_absolute_url }}"><img src="{{ rider.get_player.get_avatar_url }}" alt="" /></a>
            					    {% else %}
            					        <img src="{{ MEDIA_URL }}image/unknown_avatar.png" alt="" />
            					    {% endif %}
        							
        							{% if rider.get_player %}
            						    <a href="{{ rider.get_player.get_absolute_url }}" class="username">{{ rider.name }}</a>
            						{% else %}
            						    <span class="username">{{ rider.name }}</span>
            						{% endif %}
        						</td>
        						<td class="time">{{ rider.get_time }}</td>
        					</tr>
        				{% endfor %}
    	        	</table>
    			</div>
			{% endfor %}
		</div>	
	</div>
</div>
{% endifequal %}

<div id="interest_wrapper">
    <div id="interest" class="mainblock">
        <h2>Wie waren erbij?</h2> 

		{% if not user.get_profile in game.interested.all %}
            <!-- TODO handje op button verschijnt niet -->
            <form method="GET" action="/games/{{ game.slug }}/interested/" id="interest_form">
                <button class="door"><p class="door">Ik was erbij!</p></button>
            </form>
        {% endif %}        

        {% if user.get_profile in game.interested.all %}
            <h3 id="jekomt">Je was er bij!</h3> <span id="tochniet">[<a href="#" class="notparticipatelink">toch niet?</a>]</span>
        {% endif %}
    </div>
</div>

<div id="participants_wrapper">
    <div id="participants" class="mainblock">
        
        {% for player in game.interested.all %}
            <div class="participant {% if forloop.counter|divisibleby:"5" %}last{% endif %}">
                <a href="/players/{{ player.id }}/">
                    <img src="{{ player.get_avatar_url }}" alt="">
                    <div class="rank">{{ player.get_rank|stringformat:".3d" }}</div>
                    <span>{{ player.user.username }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
