{% extends "metagame/base.html" %}

{% block extrahead %}
	<title>Games &bull; PLAY Pilots</title>
	
	<style type="text/css" media="screen">
		#games_wrapper {
			border-bottom: 5px solid #ddd;
			background-color: #b7d1d0;
			background-repeat: repeat;
			background-image: url(/static/image/grain_overlay.png);
		}
		
		#game_list {
			position: relative;
			margin: 0 auto;
			width: 940px;
			padding: 0;
            overflow: hidden;
			min-height: 300px;
        }
        
        #game_intro {
			position: relative;
            color: #666;
            padding: 21px 0;
            width: 620px;
            font-size: 12px;
            font-weight: bold;
        }
        
        #game_intro H2 {
            color: #fff;
			text-shadow: #666 0px 1px 0px;
            display: inline;
        }
        
        .game {
            float: left;
            width: 300px;
            
            height: 231px; /* genoeg voor 11 regels van 14px hoog */
            
            background-color: #262a33;
            
            color: white;
        }
        
        #game_list a {
            text-decoration: none;
        }
        
        #game_list a:hover div.game {
            background: #f30;
        }

        #game_list a:hover h3, #game_list a:hover p {
            color: #fff;
        }

		#game_list a:hover h3 {
            text-shadow: #666 0px 1px 0px;
        }        

        .game .mainimage {
            float: left;
            
            width: 140px;
            height: 100%;
            
            background-position: center center;
        }
        
        .soon .mainimage {
            display: none;
        }
        
        .gamecontent {
            float: left;
            padding: 21px 10px;
            width: 140px;
            margin: 0;
        }
        
        .soon .gamecontent {
            width: 100%;
            color: #333;
        }
        
        .gamecontent p {
            font-size: 12px;
            font-weight: bold;            
        }
        
        .gamecontent {
            color: #b9b9b9;
            text-decoration: none;
            font-weight: normal;
        }        
        
        .game H3, .game p.metadata {
            color: white;
        }        
        
        .game .date {
            font-weight: bold;
        }
        
        .soon {            
            background-color: transparent;
            background-image: url(/static/image/bg_soon.png);
            background-repeat: repeat;
        }
        
        .space {
            margin-left: 20px;
        }
        
        .soon H3, .soon p.metadata {
            color: #333;
        }
        
        #agenda_wrapper {
            /* todo doorlopende grijze streep */
            background-color: #fff;
        }
        
        #agenda {
            overflow: auto;
            width: 938px;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        
        #agenda h4 {
            line-height: 42px;
            font-size: 14px;
            margin: 0 0 0 10px;
        }
        
        #agenda img {
            border-top: 1px solid #ddd;
            float:left;
        }
        
    </style>
{% endblock %}


{% block content %}
<div id="games_wrapper">
    <div id="game_list" class="mainblock">
        
        <div id="game_intro">
            <h2>3 festivals, 3 games</h2> PLAY Pilots daagt je uit! Dit jaar kun je op drie culturele festivals in Utrecht live games spelen. Lees alles over het wat, waar en wanneer.</div>

        {% for game in games %}
        {% if forloop.counter < 3 %}<a href="/games/{{ game.slug }}/">{% endif %}
            <div id="game_{{ game.id }}" class="game {% if not forloop.first %}space{% endif %} {% if forloop.counter > 2%}soon{% endif %}">
                <div class="mainimage" style="{% if game.get_first_photo %}background-image: url({{ game.get_first_photo }});{% endif %}"></div>
            
                <div class="gamecontent">
                    <h3>{{ game.name }}</h3>
                    
                    <p class="metadata">door {{ game.maker }}<br>
                        op {{ game.festival }}<br>
                        {{ game.start|date:"j b Y" }}{% if game.end %} - {{ game.end|date:"j b Y"}}{% endif %}</p>
            
                    {% if forloop.counter < 3 %}<p>{{ game.description|truncatewords:8}}</p>{% else %}<p>Coming soon!</p>{% endif %}
                </div>
            </div>
            {% if forloop.counter < 3 %}</a>{% endif %}
        {% endfor %}
    </div>
</div>

<div id="agenda_wrapper">
    <div id="agenda" class="mainblock">
        <h4>Agenda</h4>
        <img src="/static/image/festivals.png" alt="">
    </div>
</div>
{% endblock %}
