{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>PLAY!</title>
    
    <style type="text/css" media="screen">
        #activity LI {
            float: left;
            width: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="description" class="frontside">
        <h3>Description</h3>
        
        <p>Korte beschrijving van het project.</p>
    </div>
    
    <ol id="games">
        {% for game in games %}
            <li id="game_{{ game.id }}" class="game">
                speel <a href="/game/{{ game.slug }}/">{{ game.name }}</a> op <a href="/festival/{{ game.festival.slug }}/">{{ game.festival.name }}</a><br>
                <input type="button" value="Speel!">
            </li>
        {% endfor %}
    </ol>
    
{% endblock %}