{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>Home &bull; PLAY Pilots</title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/index.css" type="text/css" media="screen" charset="utf-8">

    <script type="text/javascript" charset="utf-8">
        
        var d = new Date();
        var timeStamp = "" + d.getFullYear() + '-' + (d.getMonth()+1) + '-' + d.getDate() + 'T' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds() + '.' + d.getMilliseconds();
        
        // TODO replace with websockets ;)
        function checkNewActions() {
            $.getJSON('/actions/', {'since': timeStamp}, function(data, textStatus) {
                for (var counter in data) {
                    var action = data[counter];
                    
                    if (counter == 0) {
                        timeStamp = action['timestamp'];
                    }
                    
                    // Remove the last action, and prepend this one at the front
                    if ($('.participant').length >= 4) {
                        $('.participant:last').slideUp(500).remove();
                    }
                    
                    var html = '<div class="participant" style="display: none;">';
                    html += '<a href="/users/' + action['display_name'] + '/">';
                    html += '<img src="' + action['avatar'] + '" class="avatar" alt="">';
                    html += '<p class="name">' + action['display_name'] + '</p>';
                    html += '</a>';
                    html += '<p class="activity">';

                    html += '' + action['display_name'] + ' ' + action['verb'];

                    if ('target_url' in action) {
                        html += ' <a href="' + action['target_url'] + '">' + action['target_str'] + '</a>';
                    };

                    html += '</p>';
                    html += '</div>';
                    
                    $('#participants').prepend(html);
                    $('.participant:first').slideDown(500);
                    $('.participant:last').addClass('last');
                }
            });
        }
        
        
        $(document).ready(function() {
            setInterval('checkNewActions();', 15000);
        });
    </script>

{% endblock %}

{% block content %}
<div id="intro_wrapper">
	<div id="intro" class="mainblock">
		<h2><span>PLAY Pilots</span> verbindt muziek,<br /> film en speelse cultuur in Utrecht.</h2>
    </div>
<div class="airmail"></div>
</div>

<div id="billboard_wrapper">
	<div id="billboard" class="mainblock">
		<div id="livegames">
			<div id="schedule">
				<h2 class="overheader">Seizoen 2010</h2>
				<h4 class="oversub">We komen volgend jaar terug!</h4>
				<span class="over1 small"><a href="/games/wip-n-kip/" title="Wip 'n' Kip">Wip 'n' Kip op Stekker Fest</a></span>
				<span class="over1date small">14 aug</span>
				<span class="over2 small"><a href="/games/de-stereoscoop/" title="De Stereoscoop">De Stereoscoop op NFF</a></span>
				<span class="over2date small">22 sep - 1 okt</span>
				<span class="over3 small"><a href="/games/bandjesland/" title="Bandjesland">Bandjesland op Le Guess Who?</a></span>
				<span class="over3date small">24 - 28 nov</span>
			</div>
			<h2>Live games in Utrecht</h2>
			<p>PLAY Pilots nodigt je uit om live games te spelen op Utrechtse festivals. Mis het niet!</p>
			<a href="/games/" class="button"><h4>Bekijk alle games</h4></a>
		</div>
		
		<div id="onlinebattle">
			<div id="teaser">
			</div>
			<h2>Ontwikkel je stijl en skills</h2>
            <p>PLAY Pilots presenteert een online battle van subculturen. Voor fans van muziek, films en games.</p>
			
            {% if request.user.is_anonymous %}                
                <a href="/klassement/login/" class="button"><h4>Meld je aan en speel</h4></a>
            {% else %}
                <a href="/klassement/" class="button"><h4>Start een duel</h4></a>
				<!--
                <p style="clear:left; color:#999; font-size:10px; padding-top:10px; margin:0;">Je bent ingelogd als <a style="text-transform:uppercase;" href="{{ request.user.get_profile.get_absolute_url }}">{{ request.user.get_profile.get_display_name }}</a> (Iemand anders? <a href="/logout/">Uitloggen</a>)</p>
				-->
			{% endif %}
		</div>
    </div>
</div>

<div id="activity_wrapper">
	<div id="activities" class="mainblock">
		<div id="stream">
			<h2>activiteit</h2>
			<div id="participants">
			    {% for action in actions %}
			        <div class="participant {% if forloop.last %}last{% endif %}">
    					<a href="/users/{{ action.actor.get_display_name }}/" title="{{ action.actor.get_display_name }}">
    						<img src="{{ action.actor.get_avatar_url }}" class="avatar" alt="">
    						<p class="name">{{ action.actor.get_display_name|slice:":11" }}{% if action.actor.get_display_name|length > 11 %}&hellip;{% endif %}</p>
    					</a>
    					<p class="activity">
    					    {{ action.actor.get_display_name }} {{ action.verb }}
    					    {% if action.target %}
    					        <a href="{{ action.target.get_absolute_url }}">{{ action.target|safe }}</a>
    					    {% endif %}
    					</p>
    				</div>
			    {% endfor %}
			</div>
		</div>
		
		<div id="blog">
			<h2>blog</h2>
			<div id="post">
				<p><a href="{{ blogentry.link }}" class="title">{{ blogentry.title }}</a><br /><span class="date">{{ blogentry.updated_parsed.2 }}/{{ blogentry.updated_parsed.1 }}/{{ blogentry.updated_parsed.0 }}</span> - {{ blogentry.summary|striptags|truncatewords:25|safe }}  <a href="{{ blogentry.link }}" target="_blank">more &raquo;</a></p>
		</div>
    </div>
</div>
{% endblock %}
