{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>{% if currentStyle %}
    {{ currentStyle.name }} stijlklassement{% else %}Algemeen klassement{% endif %} &bull; PLAY Pilots</title>

    <style type="text/css" media="screen">
        #contentwrapper {
        }
        
        #headwrapper {
			position: relative;
			background: #b7d1d0 url({{ MEDIA_URL }}image/grain_overlay.png);
			border-bottom: 2px solid #999;
		}
		
        #startduel {
            float: right;
            margin-right: 20px;
        }
        
        #klassementhead {
			position: relative;
			z-index: 1;
            color: #666;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        #klassementexplanation {
			position: relative;
			z-index: 4;
            width: 540px;
            font-weight: bold;
            font-size: 12px;
        }

		#klassementexplanation a {
			color: #ff3300;
			text-decoration: none;
        }

		#klassementexplanation a:hover {
			text-decoration: underline;
        }
        
        #klassementhead H2 {
            color: #fff;
			text-shadow: #666 0px 1px 0px;
            display: inline;
        }

		#klassementexplanation dl {
			margin-top: 16px;
			font-size: 12px;
			overflow: hidden;
		}
		
		#klassementexplanation dl dt {
			clear: left;
			float: left;
			width: 140px;
			font-weight: normal;
		}
		
		#klassementexplanation dl dd {
			float: left;
		}
        
        #rankwrapper {
			position: relative;
            border-top: 5px solid #ddd;
            background: #f5f5f5 url({{ MEDIA_URL }}image/grain_overlay.png);
			padding-bottom: 42px;
        }
        
        #ranking {
			position: relative;
            overflow: hidden;
			margin-top: -10px;
        }
        
        #stylepicker {
			position: relative;
			z-index: 3;
            width: 240px;
			margin-top: 10px;
            overflow: hidden;
            float: left;
        }
        
        #styles {
            float: left;
            
            margin: 10px;
            
            width: 220px;
            
            margin: 0;
            padding: 0;
        }
        
        #styles li {
            color: #f30;
            
            margin: 0;
            padding: 5px;
            
			border-left: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-top: 1px none #ddd;
        }
        
        #styles a {
            text-decoration: none;
            color: #f30;
        }
        
        #styles .selected, #styles li:hover {
			color: #fff;
			text-transform: uppercase;
			background-color: #262a33;
			font-weight: bold;
			border-left: 1px solid #262a33;
			border-bottom: 1px solid #262a33;
			border-right: 1px solid #262a33;
			border-top: 1px none #262a33;
        }
        
        #styles .selected A, #styles li:hover A {
            color: white;
        }
        
        #tablewrapper {
			position: relative;
            overflow: hidden;
            background: #b7d1d0 url({{ MEDIA_URL }}image/grain_overlay.png);
            width: 700px;
            float: right;
            border-bottom: 5px solid #ddd;
        }

		#illustr_container {
			position: absolute;
			z-index: 5;
			right: 0px;
			top: 0px;
		}
		
		table a {
			color: #fff;
			text-decoration: none;
		}
		
		#rank {
			position: relative;
			z-index: 2;
		}

        table#rank {
            width: 700px;
            border-bottom: 2px solid #999;
            border-collapse: separate;
            border-spacing: 10px;            
        }
                
        #rank th {
            text-align: left;
            font-size: 10px;
            color: #666;
			border-bottom: 1px solid #666;
        }
        
        tr.player {
            height: 30px;
        }
        
        .player td {
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			background: transparent url({{ MEDIA_URL }}image/ranking_bar_bg_light.png) repeat-x 50% 50%;
			vertical-align: middle;
			font-size: 18px;
			line-height: 18px;
			margin: 4px 0 0;
			padding: 0;
			color: #f5f5f5;
        }

		.player td img {
			float: left;
		}

		.player {
			text-transform: uppercase;
		}
		
        .topplayers td {
			height: 40px;
        }
		
        td.rank {
            width: 50px;
            text-align: center;
        }
        
		td.info img {
			float: left;
            width: 30px;
            height: 30px;
        }

		td.info span {
			float: left;
			margin-top: 6px;
			margin-left: 10px;
			width: 320px;
		}
		
		.topplayers td.info span {
			font-size: 21px;
			font-weight: bold;
			margin-top: 10px;
		}
        
        .topplayers td.info img {
            width: 40px;
            height: 40px;
        }

		td.info img.jijtag {
			float: right;
			width: 50px;
			height: 30px;
		}
        
        td.win, td.loss, td.tie {
            width: 40px;
            text-align: center;
        }

		td.win p, td.loss p, td.tie p {
			margin: 0 auto;
		}
        
        td.pow {
            background: transparent;
            text-align: center;
            width: 40px;
        }

        td.pow form {
            overflow: hidden;
			margin: -4px auto;
			padding: 0;
            width: 30px;
			height: 34px;
        }

        .topplayers td.pow form {
            width: 40px;
			height: 44px;
        }

		.topplayers td.pow button {
            width: 40px;
            height: 40px;
            margin: 0;
            padding: 0;
            
            border: none;
            background: transparent url({{ MEDIA_URL }}image/action_buttons_medium.png) center center;
        }
        
        td.pow button {
            width: 30px;
            height: 30px;
            margin: 0;
            padding: 0;
            
            border: none;
            background-color: transparent;
            background-image: url({{ MEDIA_URL }}image/action_buttons_small.png);
            background-position: center center;
        }
        td.pow button:hover { background-position: center top; }
        td.pow button:active { background-position: center bottom; }

        .leveldescription {
			padding-top: 10px;
		}

		.leveldescription img {
			float: left;
		}
		
		.leveldescription span {
			float: left;
			margin-top: -3px;
			margin-left: 10px;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			text-shadow: #999999 0 1px 0;
		}
    </style>
{% endblock %}


{% block content %}
<div id="headwrapper">
    <div id="klassementhead" class="mainblock">
        <div id="klassementexplanation">
            {% if not currentStyle %}
                <h2>Algemeen Klassement</h2> toont de posities van alle spelers, op basis van alle gespeelde duels. Bekijk ook de Stijlklassementen, die de top dogs en underdogs van elke subcultuur laten zien.
            {% else %}
                <h2>{{ currentStyle.name }}</h2> {{ currentStyle.description|safe }}
            {% endif %}
        </div>
		<div id="illustr_container">
			{% if currentStyle and currentStyle.image %}
				<img src="{{currentStyle.image.url}}" alt="" />
			{% else %}
				<img src="{{ MEDIA_URL }}image/start_fight.png" alt="" />
			{% endif %}
		</div>
    </div>
</div>

<div id="rankwrapper">
	
    <div id="ranking" class="mainblock">

        <div id="stylepicker">
            <ul id="styles">
                <a href="/klassement"><li class="{% if not currentStyle %}selected{% endif %}">Alle stijlen</li></a>
                {% for style in styles %}
                    <a href="/klassement?style={{ style.id }}"><li id="style_{{ style.id }}" class="{% ifequal style.name currentStyle.name %}selected{% endifequal %}">{{ style.name }}</li></a>
                {% endfor %}
            </ul>
        </div>
        
        <div id="tablewrapper">

        <table id="rank">
            
            <tr id="firstrow">
                <th>Positie</th>
                <th>Speler</th>
                <th>Win</th>
                <th>Gelijk</th>
                <th>Verlies</th>
            </tr>
            
            {% if players %}
                {% for player in players %}
                    <tr class="player{% if forloop.counter < 4  %} topplayers{% endif %}">
                        <td class="rank">{{ forloop.counter }}</td>
                        <td class="info">
							<a href="/players/{{ player.id }}/">
								<img src="{{ player.get_avatar_url }}" alt="" />
								<span class="userame">{{ player.user.username }}</span>
								{% ifequal player.user.username user.username %}<img src="{{ MEDIA_URL }}image/tag_jij.png" class="jijtag" width="50" height="30" alt="JIJ!" />{% endifequal %}
							</a>
						</td>
                        <td class="win">{{ player.get_win_count }}</td>
                        <td class="tie">{{ player.get_tie_count }}</td>
                        <td class="loss">{{ player.get_loss_count }}</td>
                        <td class="pow">
                            {% ifnotequal player.user.username user.username %}
                                <form method="GET" action="/challenge">
                                    <input type="hidden" name="target" value="{{ player.id }}">
                                    <button type="submit"></button>
                                </form>                            
                            {% endifnotequal %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            
            {% if skills %}
                {% for level in skills %}
                    {% if level.1 %}
                        <tr><td class="leveldescription" colspan="5">
                    	<img src="{{ MEDIA_URL }}image/level_{{ level.0 }}.png"> <span>niveau {{ level.0 }}</span></td></tr>
                        {% for player in level.1 %}
                            <tr class="player{% if forloop.counter < 4  %} topplayers{% endif %}">
                                <td class="rank">{{ forloop.counter }}</td>

                                <td class="info">
        							<a href="/players/{{ player.id }}/">
										<img src="{{ player.get_avatar_url }}" alt="" />
        								<span class="userame">{{ player.user.username }}</span>
        								{% ifequal player.user.username user.username %}<img src="{{ MEDIA_URL }}image/tag_jij.png" class="jijtag" width="50" height="30" alt="JIJ!" />{% endifequal %}
									</a>
        						</td>
                                <td class="win">{{ player.get_win_count }}</td>
                                <td class="loss">{{ player.get_tie_count }}</td>
                                <td class="tie">{{ player.get_loss_count }}</td>

                                <td class="pow">
                                    {% ifnotequal player.user.username user.username %}
                                        <form method="GET" action="/challenge/">
                                            <input type="hidden" name="target" value="{{ player.id }}">
                                            <button type="submit"></button>
                                        </form>                            
                                    {% endifnotequal %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>
        </div>
    </div>
</div>
{% endblock %}
