{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>
        {% if currentStyle %}
            {{ currentStyle.name }} stijlklassement
        {% else %}
            Algemeen klassement
        {% endif %}
        &bull; PLAY Pilots
    </title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/klassement.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}


{% block content %}
<div id="headwrapper">
    <div id="klassementhead" class="mainblock">
        <div id="klassementexplanation">
            {% if not currentStyle %}
                <h2>Algemeen Klassement</h2> toont de posities van alle spelers, op basis van alle gespeelde duels. Bekijk ook de Stijlklassementen, die de top dogs en underdogs van elke subcultuur laten zien.
            {% else %}
                <h2>{{ currentStyle.name }}</h2> {{ currentStyle.description|safe }}
            {% endif %}
        </div>
		<div id="illustr_container">
			{% if currentStyle and currentStyle.image %}
				<img src="{{currentStyle.image.url}}" alt="" />
			{% else %}
				<img src="{{ MEDIA_URL }}image/start_fight.png" alt="" />
			{% endif %}
		</div>
    </div>
</div>

<div id="rankwrapper">
	
    <div id="ranking" class="mainblock">

        <div id="stylepicker">
            <ul id="styles">
                <a href="/klassement"><li class="{% if not currentStyle %}selected{% endif %}">Alle stijlen</li></a>
                {% for style in styles %}
                    <a href="/klassement?style={{ style.id }}"><li id="style_{{ style.id }}" class="{% ifequal style.name currentStyle.name %}selected{% endifequal %}">{{ style.name }}</li></a>
                {% endfor %}
            </ul>
        </div>
        
        <div id="tablewrapper">

        <table id="rank">
            
            <tr id="firstrow">
                <th>Positie</th>
                <th>Speler</th>
                <th>Win</th>
                <th>Gelijk</th>
                <th>Verlies</th>
            </tr>
            
            {% if players %}
                {% for player in players %}
                    <tr class="player{% if forloop.counter < 4  %} topplayers{% endif %}">
                        <td class="rank">{{ forloop.counter }}</td>
                        <td class="info">
							<a href="/players/{{ player.id }}/">
								<img src="{{ player.get_avatar_url }}" alt="" />
								<span class="userame">{{ player.user.username }}</span>
								{% ifequal player.user.username user.username %}<img src="{{ MEDIA_URL }}image/tag_jij.png" class="jijtag" width="50" height="30" alt="JIJ!" />{% endifequal %}
							</a>
						</td>
                        <td class="win">{{ player.get_win_count }}</td>
                        <td class="tie">{{ player.get_tie_count }}</td>
                        <td class="loss">{{ player.get_loss_count }}</td>
                        <td class="pow">
                            {% ifnotequal player.user.username user.username %}
                                <form method="GET" action="/challenge">
                                    <input type="hidden" name="target" value="{{ player.id }}">
                                    <button type="submit"></button>
                                </form>                            
                            {% endifnotequal %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            
            {% if skills %}
                {% for skill in skills %}
                    {% ifchanged %}
                    <tr>
                        <td class="leveldescription" colspan="5">
                            <img src="{{ MEDIA_URL }}image/level_{{ skill.level }}.png"> 
                            <span>niveau {{ skill.level }}</span>
                        </td>
                    </tr>
                    {% endifchanged %}

                    {% with skill.player as player %}
                        <tr class="player {% if forloop.counter < 4  %}topplayers{% endif %}">
                            <td class="rank">{{ forloop.counter }}</td>

                            <td class="info">
                            	<a href="/players/{{ player.id }}/">
                            		<img src="{{ player.get_avatar_url }}" alt="" />
                            		<span class="userame">{{ player.user.username }}</span>
                            		{% ifequal player.user.username user.username %}<img src="{{ MEDIA_URL }}image/tag_jij.png" class="jijtag" width="50" height="30" alt="JIJ!" />{% endifequal %}
                            	</a>
                            </td>
                            <td class="win">{{ player.get_win_count }}</td>
                            <td class="loss">{{ player.get_tie_count }}</td>
                            <td class="tie">{{ player.get_loss_count }}</td>

                            <td class="pow">
                                {% ifnotequal player.user.username user.username %}
                                    <form method="GET" action="/challenge/">
                                        <input type="hidden" name="target" value="{{ player.id }}">
                                        <button type="submit"></button>
                                    </form>                            
                                {% endifnotequal %}
                            </td>
                        </tr>
                    {% endwith %}

                {% endfor %}
            {% endif %}
        </table>
        </div>
    </div>
</div>
{% endblock %}
