{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>Makers</title>
{% endblock %}

{% block content %}
<div id="maker_list">
    {% for maker in makers %}
        <div id="maker_{{ maker.id }}" class="maker">
            <h1>{{ maker.name }}</h1>

            {% comment %}
            TODO FIXME
            <p>met <a href="/games/{{ festival.first_game.slug }}/">{{ festival.first_game.name }}</a></p>
            <p>door <a href="/makers/{{ festival.first_game.maker.slug }}/">{{ festival.first_game.maker.name }}</a></p>
            {% endcomment %}
            
            <p><a href="/makers/{{ maker.slug }}">meer</a></p>
        </div>
    {% endfor %}
</div>
{% endblock %}