{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>{{ maker.name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ maker.name }}</h1>
    
    <p>blurb maker informatio</p>
    
    <p>link naar <a href="{{ maker.link }}">externe site</a></p>
    
    <img id="logo" src="" style="width: 300px; height; 200px;">
    
    <p>lijst van blog entries van deze makers, import van externe RSS</p>
    
    <p>link naar <a href="/game/{{ maker.first_game.slug }}/">{{ maker.first_game.name }}</a> voor <a href="/festival/{{ maker.first_game.festival.slug }}/">{{ maker.first_game.festival.name }}</a>
    wellicht met logo's erbij</p>
{% endblock %}