{% extends "metagame/base.html" %}

{% block extrahead %}
    <style type="text/css" media="screen">
        #culturelist {
            float: left;
            
            list-style-type: none;
        }
        
        #culturelist LI {
            border: thin solid grey;
            padding: 5px;
            
            min-width: 220px;
            
            color: #f30;
        }
        
        #ranking {
            float: left;
            margin-left: 20px;
            
            width: 680px; /* should be 700, but then wraps */
        }
        
        #ranking TR {
            height: 60px;
        }
        
        #ranking TH {
            text-transform: uppercase;
            text-align: left;
        }
        
        #ranking TD {
            background-color: #666;
            opacity: 0.5;
            
            margin: 5px;
            
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            
            color: white;
        }
        
        TD.name {
            text-transform: uppercase;
        }
    </style>

    <title>List of players</title>
{% endblock %}

{% block intro %}{% endblock %}

{% block tagline %}
<div id="temptagline" class="mainblock" style="background-image: url({{ MEDIA_URL }}image/ranking_tagline.png); height: 98px;"></div>
{% endblock %}

{% block content %}

    <ul id="culturelist">
        <li style="text-transform: uppercase; background-color: #333; color: white;">Overall Ranking</li>
        {% for culture in cultures %}
            <li>{{ culture.name }}</li>
        {% endfor %}
    </ul>

    <table id="ranking">
        <tr>
            <th>Nr</th>
            <th>Player</th>
            <th>Points</th>
            <th>Main style</th>
            <th>&nbsp;</th>
        </tr>
        
        {% for player in players %}
            <tr>
                <td class="ranking">{{ forloop.counter }}</td>
                <td class="name"><a href="/players/{{ player.id }}/">{{ player.user.username }}</a></td>
                <td class="rating">{{ player.rating }}</td>
                <td class="culture">{{ player.culture }}</td>
                <td class="attack"><a href="/challenge/?target={{ player.id }}">POW</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}