{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>PLAY! met {{ player.user.name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ player.user.first_name }}</h1>
    
    <img src="" id="photo" style="width: 100px; height: 120px;">
    
    <h3>Games</h3>
    
    <p>dominante cultuur {{ player.culture }}</p>
    
    <p>rating {{ player.rating }}</p>
    
    {% ifnotequal player.user.username user.username  %}
        <form method="GET" action="/challenge/">
            <input type="hidden" name="target" value="{{ player.id }}">
            <button type="submit">Daag {{ player.user.first_name }} nu uit</button>
        </form>
    {% endifnotequal %}
    
    <h3>Actions</h3>
        
    <ul>
    {% for action in actions %}
        <li>{{ action.actor }} {{ action.verb }} <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a></li>
    {% endfor %}
    </ul>
    
    <h3>Lopende uitdagingen</h3>
    
    <h4>Naar</h4>
    
    {% for duel in player.challenger_duel.all %}
        <a href="/players/{{ duel.target.id }}/">{{ duel.target }}</a> met {{ duel.challenge_move }}
        (<a href="/challenge/{{ duel.id }}/">bekijk</a>)<br>
        <b>Boodschap:</b> {{ duel.challenge_message }}
        <br>
    {% endfor %}
    
    <h4>Van</h4>
    
    {% for duel in player.responder_duel.all %}
        door <a href="/players/{{ duel.challenger.id }}/">{{ duel.challenger }}</a> met {{ duel.challenge_move.name }} {% if duel.open %}(<a href="/c/{{ duel.id }}">beantwoord</a>){% else %}(bekijk TODO){% endif %} <br>
        <b>Boodschap:</b> {{ duel.challenge_message }}
        <br>
    {% endfor %}
    
{% endblock %}