{% extends "metagame/base.html" %}

{% block extrahead %}
    <title>PLAY! met {{ player.user.name }}</title>
{% endblock %}

{% block content %}
    <h1>{{ player.user.first_name }}</h1>
    
    <img src="" id="photo" style="width: 100px; height: 120px;">
    
    <h3>Games</h3>
    
    <p>dominante cultuur {{ player.culture }}</p>
    
    <p>rating {{ player.rating }}</p>
    
    {% ifnotequal player.user.username user.username  %}
        <form method="GET" action="/challenge/">
            <input type="hidden" name="target" value="{{ player.id }}">
            <button type="submit">Daag {{ player.user.first_name }} nu uit</button>
        </form>
    {% endifnotequal %}
    
    <h3>Lopende uitdagingen</h3>
    
    <h4>Naar</h4>
    
    {% for round in player.challenged_round.all %}
        <a href="/players/{{ round.target.id }}/">{{ round.target }}</a> met {{ round.challenge_move }}
        (<a href="/challenge/{{ round.id }}/">bekijk</a>)<br>
        <b>Boodschap:</b> {{ round.challenge_message }}
        <br>
    {% endfor %}
    
    <h4>Van</h4>
    
    {% for round in player.targeted_round.all %}
        door <a href="/players/{{ round.challenger.id }}/">{{ round.challenger }}</a> met {{ round.challenge_move.name }} {% if round.open %}(<a href="/c/{{ round.id }}">beantwoord</a>){% endif %} <br>
        <b>Boodschap:</b> {{ round.challenge_message }}
        <br>
    {% endfor %}
    
{% endblock %}